<% if @item && @user_order%>
  <h1>Hello <%= @buyer_email %></h1>

    <h4>Your Buy Now Order for <%=@item.item_name%> has been completed!</h4>
  <br><br>
  <h3>Order details</h3>
  <h5>Total Quantity: <%=@user_order.quantity%> grams</h5>
  <h5>Total Price: $<%=@user_order.total_price%></h5>
  <br>
    <h4>You Bought this order from <strong><%=@vendor.company_name%></strong>.</h4>
    <h4>You can get in touch with them at <strong><%=@vendor.email%></strong>.</h4>

    <span> Since you are the only buyer in this Buy Now Order, it will be shipped ASAP, thank you!</span>

  <span> View and edit your order by searching with this Order ID below</span>
  <%=@user_order.token%>
<%end%>
