<% if @user && @item && @user_order%>
  Hello <%= @user.email %>
    <h4>Your Buy Now Order for <%=@item.item_name%> has been completed!
  <br>
  Order details
  Total Quantity: <%=@user_order.quantity%> grams
  Total Price: $<%=@user_order.total_price%>

    You Bought this order from <strong><%=@vendor.company_name%></strong>.
    You can get in touch with them at <strong><%=@vendor.email%></strong>.

    <span> Since you are the only buyer in this Buy Now Order, it will be shipped ASAP, thank you!</span>
<%end%>
