<% if @bulk_order%>
  <h3>Hello from C360,</h3><br>

  <h4>You have a Bulk order for <%=@bulk_order.order_item.name%>.<br>

  The order in total was for <%=@bulk_order.max_amount%> grams<br><br>
  Total Price: <%=@bulk_order.max_amount * @item.price%></h4>

  <%@bulk_order.user_orders.each do |user_order|%>
    <h5><%= user_order.user.email%> in <%= user_order.user.city%>,<%= user_order.user.state%>.<br>
    They bought <%= user_order.quantity%> for $<%=user_order.quantity * @item.price%>.<hr></h5>
  <%end%>
<%end%>
