
<form action="/bulk_orders<%= "/#{@bulk_order.id}" unless @bulk_order.new_record? %>" method="POST" >
    <%= "<input type=\"hidden\" name=\"_method\" value=\"PATCH\">".html_safe unless @bulk_order.new_record? %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% if bulk_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulk_order.errors.count, "error") %> prohibited this bulk_order from being saved:</h2>
      <ul>
      <% bulk_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="row edit-row">
    <%if !@bulk_order.new_record? %>
      <div class="col-md-6 edit-card">
        <span style='float:right' class='oil-image'><%= image_tag(@order_item.avatar.url, :size => "250x250") %></span>
        <h1 id='item_name'><%= @order_item.name %></h1>
        <h4><%=link_to user_path_url(@order_item.user) do%>
          <%=@order_item.user.company_name%></h3>
          <%end%>
        </h4>
        <h3><%= @order_item.price %>$ / gram</h3>
        <h4>Max Order Size - <%= @order_item.bulk_order_amount %> grams</h4>
        <h4><%=@order_item.current_amount%> grams available</h4>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
      </div>
      <div class='col-md-3' style='font-size:1.2em;margin-top:-5vh'>
        <div class='row edit-card' style='margin-top:5vh'>
          <div id='small-clock'></div>
        </div>
      <%if  @bulk_order.new_record? || @bulk_order.percent_filled < @bulk_order.max_amount && @order_item.user != @user%>
        <%if @user.is_vendor == false%>
          <div class="field" >
            <label>Quantity (g)</label>
            <input style='width:7vw' type='number' id='order_quant' min='1' max="'<%=@order_item.bulk_order_amount - (@bulk_order.percent_filled ||0)%>'" name='bulk_order[quantity]'>
          </div>
          <div class="field">
            <label>Price</label>
            <span id='total_price'>$</span>
          </div>
          <button type="submit" id='payButton'>PAY</button>
        <%end%>
      <%end%>
        <%= hidden_field_tag(:user_id, @user.id)%>
        <%= hidden_field_tag(:item,params[:item])%>
        <%= hidden_field_tag(:price,params[:price])%>
      </div>
    <%else%>
      <div class="col-md-6 edit-card">
        <span style='float:right' class='oil-image'><%= image_tag(@item.avatar.url, :size => "250x250") %></span>
        <h1 id='item_name'><%= @item.item_name %></h1>
        <h4><%=link_to user_path_url(@item.user) do%>
          <%=@item.user.company_name%></h3>
          <%end%>
        </h4>
        <h3><%= @item.price %>$ / gram</h3>
        <h4>Max Order Size - <%= @item.bulk_order_amount %> grams</h4>
        <h4><%=@item.current_amount%> grams available</h4>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
      </div>
      <div class='col-md-3' style='font-size:1.2em;margin-top:-5vh'>
        <div class='row edit-card' style='margin-top:5vh'>
          <div id='small-clock'></div>
        </div>
      <%if  @bulk_order.new_record? || @bulk_order.percent_filled < @bulk_order.max_amount && @item.user != @user%>
        <%if @user.is_vendor == false%>
          <div class="field" >
            <label>Quantity (g)</label>
            <input style='width:7vw' type='number' id='order_quant' min='1' max="'<%=@item.bulk_order_amount - (@bulk_order.percent_filled ||0)%>'" name='bulk_order[quantity]'>
          </div>
          <div class="field">
            <label>Price</label>
            <span id='total_price'>$</span>
          </div>
          <button type="submit" id='payButton'>PAY</button>
        <%end%>
      <%end%>
        <%= hidden_field_tag(:user_id, @user.id)%>
        <%= hidden_field_tag(:item,@item.id)%>
        <%= hidden_field_tag(:price,params[:price])%>
      </div>
    <%end%>
    <div class='col-md-3 '>
      <div class='row'>
        <div id='pieChart'></div>
      </div>
    </div>
  </div>
  <% if !@bulk_order.new_record? && @seller==@user%>
  <h4>Users part of Order :</h4>
    <% @bulk_order.user_orders.each do |user_order| %>
      <% @user_found = User.find_by_id(user_order.user_id)%>
      <strong><%=@user_found.email%></strong>
      <ul>
        <li> Bought <%=user_order.quantity%> <%=@order_item.name%> for $<%=user_order.total_price%> on <%=Date.parse(user_order.updated_at.to_date.to_s).strftime('%m/%d/%Y')|| ate.parse(user_order.created_at.to_date.to_s).strftime('%m/%d/%Y')%></li>

        <li>Lives in <%=@user_found.city%>, <%=@user_found.state%></li>
      </ul>
    <br>
    <%end%>
  <%end%>

  <div hidden>
  <%if !@bulk_order.new_record?%>
    <span id='item_price'><%= @order_item.price %></span>
    <span id='max_amount'><%= @order_item.bulk_order_amount%></span>
  <%else%>
    <span id='item_price'><%= @item.price %></span>
    <span id='max_amount'><%= @item.bulk_order_amount%></span>
  <%end%>
  <span id='percent_filled'><%=@bulk_order.percent_filled rescue 0%></span>
  <span id='expire_date'><%=@bulk_order.expire_date rescue nil%></span>
  <span id='item'><%=@bulk_order.item rescue nil%></span>
  <%@bulk_order.user_orders.each do |order|%>
    <%if order.user_id == @user.id%>
    <span id='user_order_quantity'><%=order.quantity%></span>
    <%end%>
  <%end%>
  </div>

  <article>
    <%= hidden_field_tag(:amount) %>
  </article>

  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
</form>

  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
  var amount=0;
  $('#order_quant').on('input',function(){
    var order_quant = parseInt($('#order_quant').val());
    amount = parseInt(item_price * order_quant)
    amount = amount * 100; // Needs to be an integer!
  });
  $('#payButton').on('click', function(e) {
    e.preventDefault();
    if(parseInt($('#order_quant').val()) > (parseInt($('#max_amount').text()) - parseInt($('#percent_filled').text()) ) ){
      $('#order_quant').css("border","3px solid red");
    }else{
      handler.open({
        amount: Math.round(amount),
        description: $('#order_quant').val() + ( $('#order_quant').val() > 1 ? ' grams':' gram'),
        email:'<%=@user.email%>'
      });
    }
  });
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    name: $('#item_name').text(),
    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('input#amount').val(amount)

      $(".spin").spin({
        lines: 12, // The number of lines to draw
        length: 15, // The length of each line
        width: 9, // The line thickness
        radius: 30, // The radius of the inner circle
        color: '#000', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false // Whether to render a shadow
      });
      
      $('form').submit()
    }
  });
$(window).on('popstate', function() {
  handler.close();
});
</script>

<script>
var percent_filled = $('#percent_filled').text();
var user_order_quant = $('#user_order_quantity').text();
var other_order_quant = (percent_filled -user_order_quant)
var max_amount = $('#max_amount').text();
var expire_date = $('#expire_date').text();
  var item_price = parseInt($('#item_price').text());
  var max_amount = $('#max_amount').text();
  var item = $('#item').val();
  $('#order_quant').on('input',function(){
    var order_quant = parseInt($('#order_quant').val());
    $('#total_price').text( '$'+ (item_price * order_quant));
  });

  var Apiec3 = c3.generate({
    bindto: '#pieChart',
      data: {
          columns: [
              ['Your Order', user_order_quant],
              ['Other', other_order_quant || 0],
              ['Remaining',  max_amount-(percent_filled)],
          ],
          type : 'donut',
      },
      legend: {
      position: 'right'
      },
      donut: {
          title: ( (percent_filled ||0)+"/"+max_amount+" spots taken"),
          label: {
            show:true
          }
      },
      legend: {
        show: false
      }
  });

  // d3.select(".c3-chart-arcs-title")
  //     .append("tspan")
  //     .attr("dy", 16)
  //     .attr("x", 0)
  //     .text( (percent_filled ||0)+"/"+max_amount+" spots taken");

  var clock_1 = new FlipClock($('#small-clock'),new Date(expire_date || 0), {
  countdown: true,
  clockFace: 'DailyCounter'
  });
  </script>
