<%= form_with(model: bulk_order, local: true) do |form| %>
  <% if bulk_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulk_order.errors.count, "error") %> prohibited this bulk_order from being saved:</h2>

      <ul>
      <% bulk_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item %>
    <span>: <%=params[:item]%></span>
  </div>
  <div class="field">
    <%= form.label :price %>
    <span>: $<%=params[:price]%></span>
  </div>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>
  <%= hidden_field_tag(:user_id, @user.id)%>
  <%= hidden_field_tag(:item,params[:item])%>
  <%= hidden_field_tag(:price,params[:price])%>

  <% if @bulk_order.percent_filled%>
  <div class="field">
    <%= form.label :percent_filled %>
    <span><%=@bulk_order.percent_filled%>/<%=@bulk_order.max_amount%> </span>
    </div>
  <%end%>
<br>
  <% if @bulk_order.user_orders.length > 1%>
  <h4>Users part of Bulk Order :</h4>
  <ul>
    <% @bulk_order.user_orders.each do |user| %>
      <li><%=User.find_by_id(user.user_id).email%> bought <%=user.quantity%> <%=user.item%></li>
    <br>
    <%end%>
  </ul>
  <%end%>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
