<p id="notice"><%= notice %></p>

<h1>Bulk Orders</h1>

<table>
  <thead>
    <tr>
      <th>Percent filled</th>
      <th>Expiration</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulk_orders.each do |bulk_order| %>
      <tr>
        <td><%= bulk_order.percent_filled %></td>
        <td><%= bulk_order.expiration %></td>
        <td><%= bulk_order.item %></td>
        <td><%= link_to 'Show', bulk_order %></td>
        <td><%= link_to 'Edit', edit_bulk_order_path(bulk_order) %></td>
        <td><%= link_to 'Destroy', bulk_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulk Order', new_bulk_order_path %>
