<p id="notice"><%= notice %></p>


    <div class ="row edit-row">
        <div class="col-md-3">
        <span class='oil-image'><%= image_tag(@item.image, :size => "250x250") %></span>
        </div>
        <div class="col-md-3 edit-card">
          <h1><%= @item.item_name %></h1>
          <h3><%= @item.price %>$ / gram</h3>
          <h4>Max Order - <%=@item.bulk_order_amount%> g</h4>
          <span hidden id='item_price'><%= @item.price %></span>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        </div>
        <div class='col-md-6 '>
          <div id='pieChart'></div>
        </div>
      </div>
      <div class='row edit-row'>
        <div class='col-md-1'>
        </div>
      <div class='col-md-4 edit-card'>
        <div id='clock'></div>
      </div>
      <div class="col-md-6">
        <h4>Users part of Bulk Order :</h4>
        <ul>
          <% @bulk_order.user_orders.each do |user| %>
            <li><%=User.find_by_id(user.user_id).email%> from <%=User.find_by_id(user.user_id).company_name%> bought <%=user.quantity%>g of <%=@item.item_name%></li>
          <br>
          <%end%>
      </div>
    </div>

  <div hidden>
  <span id='percent_filled'><%=@bulk_order.percent_filled rescue nil%></span>
  <span id='max_amount'><%=@bulk_order.max_amount rescue nil%></span>
  <span id='expire_date'><%=@bulk_order.expire_date rescue nil%></span>
  <span id='item'><%=@bulk_order.item rescue nil%></span>
  </div>
  <script>
  var percent_filled = $('#percent_filled').text();
  var user_order_quant = $('#user_order_quantity').val();
  var other_order_quant = (percent_filled -user_order_quant)
  var max_amount = $('#max_amount').text();

  var expire_date = $('#expire_date').text();
    var item_price = parseInt($('#item_price').text());
    var max_amount = $('#max_amount').text();
    var item = $('#item').val();
    $('#order_quant').on('input',function(){
      var order_quant = parseInt($('#order_quant').val());
      $('#total_price').text( '$'+ (item_price * order_quant));
    });


    var Apiec3 = c3.generate({
      bindto: '#pieChart',
        data: {
            columns: [
                ['User Orders', percent_filled],
                ['Remaining',  max_amount-(percent_filled)],
            ],
            type : 'donut',
        },
        legend: {
        position: 'right'
        },
        donut: {
            title: item,
            label: {
              show:true
            }
        },
        legend: {
          show: false
        }
    });

    d3.select(".c3-chart-arcs-title")
        .append("tspan")
        .attr("dy", 16)
        .attr("x", 0)
        .text(percent_filled+"/"+max_amount+" spots taken");

    var clock_1 = new FlipClock($('#clock'),new Date(expire_date || 0), {
    countdown: true,
    clockFace: 'DailyCounter'
    });
    </script>
