<form action="/user_orders<%= "/#{@user_order.id}" unless @user_order.new_record? %>" method="POST" >
    <%= "<input type=\"hidden\" name=\"_method\" value=\"PATCH\">".html_safe unless @user_order.new_record? %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <% if user_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_order.errors.count, "error") %> prohibited this user_order from being saved:</h2>

      <ul>
      <% user_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="row edit-row">
      <div class="col-md-6 edit-card">
        <span style='float:right' class='oil-image'><%= image_tag(@item.image, :size => "250x250") %></span>
        <h1 id='item_name'><%= @item.item_name %></h1>
        <h3><%= @item.price %>$ / gram</h3>
        <h4><%=link_to user_path_url(@item.user) do%>
          <%=@item.user.company_name%></h3>
        <%end%></h4>
        <h4><%=@item.current_amount%> grams available</h4>
        <span hidden id='item_price'><%= @item.price %></span>
        <span hidden id='item_price'><%= @item.price %></span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
      </div>
      <div class='col-md-3' style='font-size:1.2em;margin-top:-5vh'>
        <div class='row edit-card' style='margin-top:5vh'>
          <div id='small-clock'></div>
        </div>
        <div class='row' style='padding-left:10px;margin-top:5vh'>
          <div class="field" id='quant_input'>
            <label>Quantity (g)</label>
            <input style='width:7vw' id ='user_order_quantity' value='<%=@user_order.quantity%>' type='number' min='1' max='<%=@item.bulk_order_amount-(@bulk.percent_filled rescue 0)+(@user_order.quantity rescue 0)%>'name='user_order[quantity]'>
          </div>
          <div class="field">
            <label>Price</label>
            <span id='total_price'>$<%=@user_order.total_price%></span>
          </div>
          <%unless @user_order.new_record?%>
          <ul>
            <li>Previous charge is deleted</li>
            <li>New payment is created</li>
            <li>NOT a double charge</li>
          </ul>
          <%end%>
          <button type ='submit' id='payButton'>PAY</button>
          <%= hidden_field_tag(:user_id, @user.id)%>
          <%= hidden_field_tag(:item,params[:item])%>
          <%= hidden_field_tag(:price,params[:price])%>
        </div>
      </div>
      <div class='col-md-3 '>
        <div class='row'>
          <div id='pieChart'></div>
        </div>
      </div>
    </div>
  <div hidden>
  <span id= 'already_user_order'><%=@user_order.quantity rescue 0%></span>
  <span id='percent_filled'><%=@bulk.percent_filled rescue 0%></span>
  <span id='max_amount'><%=@bulk.max_amount rescue nil%></span>
  <span id='expire_date'><%=@bulk.expire_date rescue nil%></span>
  <span id='item'><%=@bulk.item rescue nil%></span>
  </div>
  <article>
    <%= hidden_field_tag(:amount) %>
  </article>

  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
</form>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
  var amount=0;
  $('#user_order_quantity').on('input',function(){
    var order_quant = parseInt($('#user_order_quantity').val());
    amount = parseInt(item_price * order_quant)
    amount = amount * 100; // Needs to be an integer!
  });
  $('#payButton').on('click', function(e) {
    e.preventDefault();
    if(parseInt($('#user_order_quantity').val()) > (parseInt($('#max_amount').text()) - parseInt($('#percent_filled').text()) + parseInt($('#already_user_order').text())) ){
      $('#user_order_quantity').css("border","3px solid red");
    }else{
      handler.open({
        amount: Math.round(amount),
        description: $('#user_order_quantity').val() + ( $('#user_order_quantity').val() > 1 ? ' grams':' gram')
      });
    }
  });
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    name: $('#item_name').text(),
    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('input#amount').val(amount)
      $('form').submit()
    }
  });
  $(window).on('popstate', function() {
  handler.close();
  });
  </script>
<script>
  var item_price = $('#item_price').text();
  var percent_filled = $('#percent_filled').text();
  var expire_date = $('#expire_date').text();
  var user_order_quant = $('#user_order_quantity').val();
  var other_order_quant = (percent_filled -user_order_quant)
  var max_amount = $('#max_amount').text();
  var item = $('#item').val();
  $('#quant_input').on('input',function(){
    var order_quant = $('#user_order_quantity').val();
    $('#total_price').text( '$'+order_quant * item_price);
    percent_filled = 23;
  });
var Apiec3 = c3.generate({
  bindto: '#pieChart',
    data: {
        columns: [
            ['Other Orders', other_order_quant],
            ['Your Order', user_order_quant],
            ['Remaining',  max_amount-(percent_filled)],
        ],
        type : 'donut',
    },
    legend: {
    position: 'right'
    },
    donut: {
        title: item,
        label: {
          show:true
        }
    },
    legend: {
      show: false
    }
});

d3.select(".c3-chart-arcs-title")
    .append("tspan")
    .attr("dy", 16)
    .attr("x", 0)
    .text(percent_filled+"/"+max_amount+" spots taken");


    var clock_1 = new FlipClock($('#small-clock'),new Date(expire_date), {
    countdown: true,
    clockFace: 'DailyCounter'
    });

</script>
