<form action="/user_orders<%= "/#{@user_order.token}" unless @user_order.new_record? %>" method="POST" >
    <%= "<input type=\"hidden\" name=\"_method\" value=\"PATCH\">".html_safe unless @user_order.new_record? %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <% if user_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_order.errors.count, "error") %> prohibited this user_order from being saved:</h2>

      <ul>
      <% user_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='spin'>
  <!-- IF USER IS EDITING AN ORDER -->
<%if !@user_order.new_record?%>
<span hidden id='item_price'><%= @bulk.wholesale_price%></span>
  <div class ="row edit-row">
    <div class="col-md-4">
      <div class='edit-card'>
      <%=link_to item_path(@item) do %>
        <!-- <span style='float:right' class='oil-image'><%= image_tag(@item.avatar.url, :size => "220x220") %></span> -->
      <%end%>
      <h1 id='item_name'><%=@bulk.item.item_name %></h1>
      <h3><%= @bulk.wholesale_price %>$ / gram</h3>
      <h4><%=@bulk.max_amount-@bulk.percent_filled%> grams available</h4>
      <h4><i><%=@bulk.item.description %></i></h4>
      <h4><%=link_to user_supplier_path_url(@seller) do%>
        <%= image_tag(@item.user.avatar.url, :size => "50x50") %>
        <%=@seller.company_name%>
        <%end%></h4>
      </div>
      <%if @bulk.user_orders.count >1%>
        <div style='margin:1vw'>
          <h4>Users in this Bulk Order</h5>
            <%@bulk.user_orders.each do |user_order|%>
                <div class='row'>
                  <div style='margin-top:1vw'class='col-md-2'>
                    <%if user_order.user%>
                      <%=link_to user_path_url(user_order.user) do%>
                        <%= image_tag(user_order.user.avatar.url, :size => "50x50") %>
                      <%end%>
                    <%else%>
                    <%= image_tag('user-icon.png', :size => "50x50") %>
                    <%end%>
                  </div>
                  <div class='col-md-9'>
                    <%if user_order.user%>
                      <h5><%=user_order.user.email%> in <%=user_order.user.city%><h5>
                      <h5>Bought <%=user_order.quantity%> grams on <%=user_order.updated_at.strftime('%m/%d/%Y')%><h5>
                    <%else%>
                      <h5>*Guest user* <%=user_order.buyer_email%> in <%=user_order.addresses.first.city%> <h5>
                        <h5>Bought <%=user_order.quantity%> grams on <%=user_order.updated_at.strftime('%m/%d/%Y')%><h5>
                    <%end%>
                  </div>
                </div>
              <%end%>
              <br>
        </div>
      <%end%>
    </div>
    <div class='col-md-4' style='font-size:1.2em;margin-top:-5vh'>
      <div class='row edit-card' style='margin-top:5vh'>
        <div id='small-clock'></div>
      </div>
      <div class='row' style='padding-left:10px;margin-top:2vw'>
        <div class="field">
          <label>Current Order</label>
          <span><%=@user_order.quantity%> g for $<%=@user_order.total_price%> </span>
        </div>
        <br>
        <div class="field" id='quant_input'>
          <label>Quantity</label>
        </div>
        <div id="slider-range-min"></div>
        <input type="number" min =1 max='<%=@user_order.bulk_order.max_amount.to_i-(@user_order.bulk_order.percent_filled.to_i-@user_order.quantity.to_i)%>' id="user_order_quantity" value='<%=@user_order.quantity%>'  style="border:0; color:#f6931f; width:100px;font-size:2em; font-weight:bold;"></input>
        <span style ='font-size:1.5em;color:#f6931f'>grams</span>
        <div class="field">
          <label>Price</label>
          <span id='total_price'>$<%=@user_order.total_price%></span>
        </div>
        <button type ='submit' id='payButton'>Change Reservation</button>

        <%unless @user_order.new_record?%>
        <h5>You will be asked to enter your card info again but you will not be double charged</h5>
        <%end%>
        <%=link_to user_order_path(@user_order), :method => :delete do %><span data-tooltip="Delete Your Order"><i class="glyphicon glyphicon-trash"></i></span><%end%></h4>

        <%= hidden_field_tag(:user_id, @user.id) if @user%>
        <%= hidden_field_tag(:item,params[:item])%>
        <%= hidden_field_tag(:price,params[:price])%>
      </div>
    </div>
    <div class='col-md-4 '>
      <div class='row'>
        <svg id="fillgauge" width="97%" height="250" ></svg>

      </div>
    </div>
  </div>
  <!-- BUY NOW ORDER -->
<%else%>
<span hidden id='item_market_price'><%= @bulk_order.market_price rescue nil%></span>
  <div class ="row edit-row">
    <div class="col-md-6 edit-card">
      <!-- <span style='float:right' class='oil-image'><%= image_tag(@item.avatar.url, :size => "250x250") %></span> -->
      <h1 id='item_name'><%= @bulk_order.item_name %></h1>
      <h3><%= @bulk_order.market_price %>$ / gram</h3>
      <h4><%=link_to user_supplier_path_url(@item.user) do%>
        <%=@item.user.company_name%></h3>
      <%end%></h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </div>
    <div class='col-md-2' style='font-size:1.2em;margin-top:5vh'>
      <div class='row' style='padding-left:10px;margin-top:-2vw'>
        <h3>Order here</h3>
        <div class="field" id='quant_input'>
          <label>Quantity (grams)</label>
        </div>
        <div id="slider-range-min"></div>
        <input type="text" id="user_order_quantity" value=0  readonly style="border:0; color:#f6931f; font-weight:bold;"></input>
        <div class="field">
          <label>Price</label>
          <span id='total_price'>$<%=@user_order.total_price%></span>
        </div>
        <button type ='submit' id='payButton'>PAY</button>
        <%= hidden_field_tag(:user_id, @user.id) if @user%>
        <%= hidden_field_tag(:bulk_order,params[:bulk_order])%>
        <%= hidden_field_tag(:price,params[:price])%>
      </div>
    </div>
    <div class='col-md-4'>
      <h2 class='text-left'>Customer Reviews</h2>
      <%@reviews.each do |review|%>
      <%=link_to user_path_url(review.user) do%>
        <h5><%= image_tag(review.user.avatar.url, :class => "not_nav_prof_pic",) %>
      <%end%>
      <%=review.user.email%></h5>
      <h4><%review.rating.times do%>
      <i class="glyphicon glyphicon-star"></i>
      <%end%>
      <%(5-review.rating).times do%>
      <i class="glyphicon glyphicon-star-empty"></i>
      <%end%>
      <%=review.title%></h4>
      <h5><%=review.body%></h5>
      <hr>
      <%end%>
    </div>
  </div>
<%end%>
</div>

  <div hidden>
  <span id= 'already_user_order'><%=@user_order.quantity rescue 0%></span>
  <span id='percent_filled'><%=@bulk.percent_filled rescue 0%></span>
  <span id='max_amount'><%=@bulk.max_amount rescue nil%></span>
  <span id='expire_date'><%=@bulk.expire_date rescue nil%></span>
  <span id='item'><%=@bulk.item rescue nil%></span>
  <span id='user_email'><%=@user.email rescue nil%></span>
  </div>

  <article>
    <%= hidden_field_tag(:amount) %>
  </article>
  <article>
    <%= hidden_field_tag(:quantity) %>
  </article>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
  <article>
    <%= hidden_field_tag(:stripeEmail) %>
  </article>
  <article>
    <%= hidden_field_tag(:shipping) %>
  </article>
  <article>
    <%= hidden_field_tag(:billing) %>
  </article>

</form>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var liquid_percent = 0;
  var payment_amount=0;
  var user_email = $('#user_email').text();
  var item_price = $('#item_price').text();
  var item_market_price = $('#item_market_price').text();
  var percent_filled = $('#percent_filled').text();
  var expire_date = $('#expire_date').text();
  var buy_now_quant = $('#buy_now_quantity').val();
  var user_order_quant = $('#user_order_quantity').val();
  var other_order_quant = (percent_filled -user_order_quant)
  var max_amount = $('#max_amount').text();
  var item = $('#item').val();
  var remaining_quant = max_amount-(percent_filled)
  var start_percent = (percent_filled / max_amount) * 100

  $('#payButton').on('click', function(e) {
    e.preventDefault();
      handler.open({
        billingAddress:true,
        shippingAddress:true,
        amount: Math.round(payment_amount),
        description: $('#user_order_quantity').val() + ( $('#user_order_quantity').val() > 1 ? ' grams':' gram'),
        email:$('#user_email').text(),
      });
  });

  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    name: $('#item_name').text(),
    token: function(token,args) {
      $('input#stripeToken').val(token.id);
      $('input#stripeEmail').val(token.email);
      $('input#amount').val(payment_amount)
      $('input#quantity').val(user_order_quant)
      $('input#shipping').val([args['shipping_address_line1'],args['shipping_address_city'],args['shipping_address_state'],args['shipping_address_zip'],args['shipping_name'],args['shipping_address_apt']])
      $('input#billing').val([args['billing_address_line1'],args['billing_address_city'],args['billing_address_state'],args['billing_address_zip'],args['billing_name'],args['billing_address_apt']])
      $(".spin").spin({
        lines: 12, // The number of lines to draw
        length: 15, // The length of each line
        width: 9, // The line thickness
        radius: 30, // The radius of the inner circle
        color: '#000', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false // Whether to render a shadow
      });
      $('form').submit()
    }
  });

  $(window).on('popstate', function() {
  handler.close();
  });

  // REMOVE THE PRICES FROM FRONT END AND NOT IN PARAMS EITHER! SEPERATE VIEWS FOR BUY NOW AND EDIT ORDER!!

    $('#user_order_quantity').on('input',function(){
      var order_amount = parseInt($('#user_order_quantity').val())
       liquid_percent = ( (order_amount + other_order_quant) / parseInt(max_amount)) * 100;
       typeof liquid_percent === 'number' ? gauge.update( liquid_percent) : null;
       payment_amount = parseInt(item_price * order_amount) * 100
       $('#total_price').text( '$'+ (item_price * order_amount));
    })

    function renderSlider(){
      $( "#slider-range-min" ).slider({
        range: "min",
        value: user_order_quant,
        min: 1,
        max: (max_amount - percent_filled + (parseInt($('#already_user_order').text()))) || 500,
        slide: function( event, ui ) {
          user_order_quant = ui.value;
          percent_filled = parseInt(other_order_quant) +parseInt(user_order_quant);
          remaining_quant = (parseInt(max_amount)-parseInt(percent_filled));
          $('#user_order_quantity').val(ui.value);
          $( "#amount" ).val(ui.value );
          if($('#item_market_price').text() =='') {
              payment_amount = parseInt(item_price * user_order_quant) * 100
              $('#total_price').text( '$'+ (item_price * user_order_quant));
            }else{
              payment_amount = parseInt(item_market_price * user_order_quant) * 100
              $('#total_price').text( '$'+ (item_market_price * user_order_quant));
            }
        },
        change: function(event, ui){
          liquid_percent = ( (user_order_quant+other_order_quant) / max_amount) * 100;
          gauge.update(liquid_percent);
        }
      });
      $( "#amount" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) );
    }

    var config1= liquidFillGaugeDefaultSettings();
    config1.circleColor = "#FF7777";
    config1.textColor = "#FF4444";
    config1.waveTextColor = "#FFAAAA";
    config1.waveColor = "#FFDDDD";
    config1.circleThickness = 0.2;
    config1.textVertPosition = .8;
    config1.textSize = .5;
    config1.waveAnimateTime = 1000;
    var gauge= loadLiquidFillGauge("fillgauge", start_percent, config1);

    renderSlider();
  // renderPieChart();


  var clock_1 = new FlipClock($('#small-clock'),new Date(expire_date), {
    countdown: true,
    clockFace: 'DailyCounter'
  });

    // function renderPieChart(){
    //   var Apiec3 = c3.generate({
    //     bindto: '#pieChart',
    //     data: {
    //       columns: [
    //         ['Other Orders', other_order_quant],
    //         ['Your Order', user_order_quant],
    //         ['Remaining', remaining_quant],
    //       ],
    //       type : 'donut',
    //     },
    //     legend: {
    //       position: 'right'
    //     },
    //     donut: {
    //       title: (percent_filled+"/"+max_amount+" spots taken"),
    //       label: {
    //         show:true
    //       }
    //     },
    //     legend: {
    //       show: false
    //     }
    //   });
    // }
// d3.select(".c3-chart-arcs-title")
//     .append("tspan")
//     .attr("dy", 16)
//     .attr("x", 0)
//     .text(percent_filled+"/"+max_amount+" spots taken");




</script>
