<!-- SHOWING THEIR COMPLETED OR EXPIRED USER ORDER TO USER -->
<!-- ALLOW THEM TO LEAVE REVEIW/RATING HERE -->
<div class='container'>
  <div class ="row edit-row">
    <div class="col-md-6 edit-card">
      <%=link_to item_path(@item) do %>
        <span style='float:right' class='oil-image'><%= image_tag(@item.avatar.url, :size => "250x250") %></span>
      <%end%>
      <h1 id='item_name'><%=@bulk.item_name %></h1>
      <h3><%= @bulk.wholesale_price %>$ / gram</h3>
      <h4><%=link_to user_supplier_path_url(@item.user) do%>
        <%=@item.user.company_name%></h3>
      <%end%></h4>
      <h4><%=@item.description%></h4>
    </div>
    <div class='col-md-2' style='font-size:1.2em;margin-top:5vh'>
      <h4>Order Amount:</h4>
      <span id ='user_order_quantity'><%=@user_order.quantity%></span> grams<br>
      <h4>Order Price:</h4>
      <span id ='user_order_quantity'>$<%=@user_order.total_price%></span>
    </div>
    <div class='col-md-3 '>
      <div class='row'>
        <div id='pieChart'></div>
      </div>
    </div>
  </div>


  <div hidden>
    <span  id='max_amount'><%=@bulk.max_amount rescue nil%></span>
    <span id='item'><%=@item.id%></span>
    <span id='item'><%=@item.item_name%></span>
    <span  id='user_order_quantity'><%=@user_order.quantity rescue nil%></span>
    <span  id='bulk'><%=@bulk.id %></span>
  </div>

  <%if @existing_review%>
    <div class='row' style='margin-left:3vw'>
      <div class='col-sm-8'>
        <h3 class='text-left'>Your Review</h3>
        <h4><%@existing_review.rating.times do%>
        <i class="glyphicon glyphicon-star"></i>
        <%end%>
        <%(5-@existing_review.rating).times do%>
        <i class="glyphicon glyphicon-star-empty"></i>
        <%end%>
        <%=@existing_review.title%></h4>
        <h5><%=@existing_review.body%></h5>
        <hr>
      </div>
    </div>
  <%else%>
  <div class=' row'>
    <h3 class='text-left'>Leave a Review</h3>
    <form style='margin:1vw'>
      <fieldset class="rating-starz">
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" ></label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" ></label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" ></label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" ></label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" ></label>
    </fieldset><br><br>
      <label for='title'>Title:</label>
      <input style='margin:1vw' id='title' type="text" maxlength="100" size="50" value=""><br>
      <label for='body'>Body:</label>
      <input style='margin:1vw' id='body' maxlength="200" size="80"type="text" value="">
    </form>
    <button style='margin: 0vw 0vw 1vw 1vw' class='btn-primary'id="submitReview">Submit</button><br>
  </div>
  <%end%>
</div>


<script>
var bulk = $('#bulk').text()
var item = $('#item').text()
var item_name = $('#item_name').text()

var item_price = $('#item_price').text();
var percent_filled = $('#percent_filled').text();
var expire_date = $('#expire_date').text();
var user_order_quant = $('#user_order_quantity').text();
var max_amount = $('#max_amount').text();

$('#submitReview').on('click',function(e){
  var rating = null
  for(var i=1; i<=5;i++){
      if($('#star'+i).is(':checked')){
        rating = i
      }
  }
  var title = $('#title').val()
  var body = $('#body').val()
  e.preventDefault();
  $.ajax({
    type: "POST",
    url: '/reviews',
    data: { "rating": rating,"title": title,"body": body,"bulk": bulk,"item": item },
    success: function (data) {
    },
    error:function(error){
      console.log(error)
    }
  });
})

var Apiec3 = c3.generate({
  bindto: '#pieChart',
    data: {
        columns: [
            ['Other Orders/Empty', max_amount-user_order_quant],
            ['Your Order', user_order_quant],
        ],
        type : 'donut',
    },
    legend: {
    position: 'right'
    },
    donut: {
        title: item_name,
        label: {
          show:true
        }
    },
    legend: {
      show: false
    }
});

d3.select(".c3-chart-arcs-title")
    .append("tspan")
    .attr("dy", 16)
    .attr("x", 0)
    .text(user_order_quant+"/"+max_amount+"g are Yours");


    var clock_1 = new FlipClock($('#clock'),new Date(expire_date), {
    countdown: true,
    clockFace: 'DailyCounter'
    });

</script>
