

<nav id="mainNav" class=" nav navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="row navbar_link" >
    <div class ="col-xs-1">
    <ul class="nav_padding_right">
      <h5 class ="text-center"><%= link_to '/items' do %>
      <span class ="glyphicon glyphicon-leaf"></span></h5>
      <%end%>
    </div>

    <div class ="col-xs-5">
      <% if User.find_by_id(session[:user_id]) %>
        <h5 class = "pull-right"><%= link_to user_path_url(User.find_by_id(session[:user_id])) do %>
        <span><%=(User.find_by_id(session[:user_id]).email)%></span><span class="cart glyphicon glyphicon-user"></span></h5>
        <%end%>
        <%end%>
      </div>
    <div class ="col-xs-6">
      <% if User.find_by_id(session[:user_id]) %>
      <h5 class = "text-center"><%= link_to 'Log Out', logout_path, method: :delete%></h5>
      <% else %>
      <h5 class ="pull-center"><%= link_to 'Log In', login_path %> |
      <%= link_to 'Sign Up', signup_path %></h5>
      <% end %>
    </div>
</nav>
</div>
