

<nav id="mainNav" class=" nav navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="row" >
    <div class ="col-xs-1">
    <ul class="nav_padding_right">
      <p class ="text-center"><%= link_to '/' do %>
      <span class ="glyphicon glyphicon-tent"></span></p>
      <%end%>
    </div>
    <div class ="col-xs-2 text-center">
      <%= link_to 'About C360', '/about'%>
    </div>

    <div class ="col-xs-2">
      <% if User.find_by_id(session[:user_id]) %>
        <p class = "pull-right"><%= link_to user_path_url(User.find_by_id(session[:user_id])) do %>
        <span><%=(User.find_by_id(session[:user_id]).email)%></span><span class="cart glyphicon glyphicon-user"></span></p>
        <%end%>
        <%end%>
      </div>
    <div class ="col-xs-2">
      <% if User.find_by_id(session[:user_id]) %>
      <p class = "text-center"><%= link_to 'Log Out', logout_path, method: :delete%></p>
      <% else %>
      <p class ="pull-center"><%= link_to 'Log In', login_path %> |
      <%= link_to 'Sign Up', signup_path %></p>
      <% end %>
    </div>
</nav>
</div>
