
        <nav id="sidebar" class='hidden' >
            <!-- Close Sidebar Button -->
            <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>

            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <a href='/home'>
                  <%=image_tag('C-logo.png', :alt =>'c360 logo', :style =>'margin:10px;position:fixed')%>
                </a>
            </div>

            <!-- Sidebar Links -->
            <ul class="list-unstyled " style='position:fixed;margin-top:8vw'>
                <li class=" component active"><a class='sidebar-links' href="/home">Home</a></li>
                <li class="component"><a class='sidebar-links' href="/about">About</a></li>
                <li class="component"><a class='sidebar-links' href="/services">Services</a></li>
                <li class="component">
                    <a class='sidebar-links' href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">WholeSale Store</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class="comp"><a class='sidebar-links' href="/store">Market</a></li>
                        <li class="comp"><a class='sidebar-links' href="#">Instructions</a></li>
                        <li class="comp"><a class='sidebar-links' href="#">Reviews</a></li>
                    </ul>
                <li class="component"><a class='sidebar-links' href="#">Contact</a></li>
            </ul>
        </nav>
        <div id="content">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
          </button>
        <!-- </div> -->
      <!-- DONT CLOSE THIS <DIV TAG> WILL FUCK EVERYTHING UP -->
      <div style='position: absolute'>
        <a href ='/store'>MarketPlace</a>
      </div>
      <div id='prof-pic'>
        <%if current_user && current_user.avatar.present?%>
          <%= image_tag(current_user.avatar.url(:thumb),:id =>"nav_prof_pic") %>
        <%else%>
        <%= image_tag('user-icon.png',:id =>"nav_prof_pic") %>
        <%end%>
        <a id='prof-carrot' href="#proflink" data-toggle="collapse" aria-expanded="false"></a>
        <ul  class=" collapse list-unstyled" id="proflink">
          <% if current_user %>
            <li><a><%= link_to('Log Out', logout_path, method: :delete, class: 'prof-links')%></a></li>
            <%if current_user.is_vendor%>
              <li><a><%= link_to('Profile', user_supplier_path_url(current_user), class: 'prof-links')%></a></li>
            <%else%>
              <li><a><%= link_to('Profile', user_path_url(current_user), class: 'prof-links')%></a></li>
            <%end%>
          <%else%>
            <li><a class='prof-links' href="/login">Login</a></li>
            <li><a class='prof-links' href="/signup">Sign Up</a></li>
            <%end%>
        </ul>
      </div>
  <script>
  $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass("hidden")
          $('#sidebarCollapse').hide()
      });
      $('#dismiss').on('click', function () {
          $('#sidebar').toggleClass("hidden")
          $('#sidebarCollapse').show()
      });
    $('#nav_prof_pic').on('click',function(){
      if($('.collapse').is(":visible")){
        $('.collapse').collapse('hide');
      }else{
        $('.collapse').collapse('show');
      }
    })
  });
  </script>
