
        <nav id="sidebar" class='hidden' >
            <!-- Close Sidebar Button -->
            <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>

            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <a href='/home'><img src='https://i.imgur.com/RSxTaJF.png' style='margin:10px;position:fixed'></a>
            </div>

            <!-- Sidebar Links -->
            <ul class="list-unstyled " style='position:fixed;margin-top:8vw'>
                <li class=" component active"><a class='sidebar-links' href="/home">Home</a></li>
                <li class="component"><a class='sidebar-links' href="/about">About</a></li>
                <li class="component"><a class='sidebar-links' href="/services">Services</a></li>
                <li class="component">
                    <a class='sidebar-links' href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">WholeSale Store</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class="comp"><a class='sidebar-links' href="/items">Market</a></li>
                        <li class="comp"><a class='sidebar-links' href="#">Instructions</a></li>
                        <li class="comp"><a class='sidebar-links' href="#">Reviews</a></li>
                    </ul>
                <li class="component"><a class='sidebar-links' href="#">Contact</a></li>
            </ul>
        </nav>
        <div id="content">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
          </button>
        <!-- </div> -->
      <!-- DONT CLOSE THIS <DIV TAG> WILL FUCK EVERYTHING UP -->

      <div id='prof-pic'>
        <img id="nav_prof_pic" src="http://i.imgur.com/IulSm39.jpg" alt="profile pic">
        <a id='prof-carrot' href="#proflink" data-toggle="collapse" aria-expanded="false"></a>
        <ul  class=" collapse list-unstyled" id="proflink">
          <% if User.find_by_id(session[:user_id]) %>
            <li><a><%= link_to('Log Out', logout_path, method: :delete, class: 'prof-links')%></a></li>
            <li><a><%= link_to('Profile', user_path_url(User.find_by_id(session[:user_id])), class: 'prof-links')%></a></li>
          <%else%>
            <li><a class='prof-links' href="/login">Login</a></li>
            <li><a class='prof-links' href="/signup">Sign Up</a></li>
            <%end%>
        </ul>
      </div>
  <script>
  $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass("hidden")
          $('#sidebarCollapse').hide()
      });
      $('#dismiss').on('click', function () {
          $('#sidebar').toggleClass("hidden")
          $('#sidebarCollapse').show()
      });
    $('#nav_prof_pic').on('click',function(){
      if($('.collapse').is(":visible")){
        $('.collapse').collapse('hide');
      }else{
        $('.collapse').collapse('show');
      }
    })
  });
  </script>

<!--
<nav id="mainNav" class=" nav navbar-default navbar-fixed-top " role="navigation" style="background-color:#516fbf">
  <div class="row navbar_link" >
    <div class ="col-xs-1">
    <ul class="nav_padding_right">
      <h5 class ="text-center"><%= link_to '/home' do %>
      <img src ='https://i.imgur.com/V1iLpgs.jpg' alt="Logo" style="width:100px;height:70px;"></h5>
      <%end%>
    </div>

    <div class ="col-xs-4 nav-link">
    </div>
    <div class ="col-xs-2 ">
      <% if User.find_by_id(session[:user_id]) %>
        <li class = "text-center nav-link"><%= link_to user_path_url(User.find_by_id(session[:user_id])) do %>
        <img src="https://i.imgur.com/j5v8TRk.jpg" alt="profile pic" style='border-radius:50%;height:40px;width:40px;margin-top:-15px'>
          <% if User.find_by_id(session[:user_id]).is_vendor%>
            <span>Supplier Profile</span></li>
          <%else%>
            <span>Buyer Profile</span></li>
          <%end%>
        <%end%>
        <%end%>
      </div>
      <div class ="col-xs-1 ">
        <li class = "text-center nav-link"><%= link_to 'About','/about' %></li>
      </div>
      <div class ="col-xs-1 ">
        <li class = "text-center nav-link"><%= link_to 'Services','/services' %></li>
      </div>
      <% if User.find_by_id(session[:user_id]) %>
        <div class ="col-xs-1 ">
          <li class = "text-center nav-link"><%= link_to 'WholeSale','/items' %></li>
        </div>
        <%else%>
        <div class ="col-xs-1 ">
          <li class = "text-center nav-link"><%= link_to 'WholeSale','/login' %></li>
        </div>
      <%end%>
      <% if User.find_by_id(session[:user_id]) %>
    <div class ="col-xs-1">
      <li class = "text-center nav-link"><%= link_to 'Log Out', logout_path, method: :delete%></li>
    </div>
      <% else %>
      <div class ="col-xs-2">
      <li class ="text-center nav-link"><%= link_to 'Log In', login_path %> |
      <%= link_to 'Sign Up', signup_path %></li>
      <% end %>
    </div>
  </ul>
</div>
</nav> -->
