<div class='login-div'>
  <div class ="login-section center" style='margin-bottom:-1vw'>
    <h1 align="center">Signup as a new user</h1>
    <%= form_for @user,  :url => signup_path(@user), html: {method: :post} do |f| %>
    <div class='row signup-form'>
      <div class="form-group">
        <div class="control-label col-sm-2 text-right">
          <%= f.label :email %>
        </div>
        <div class="col-xs-8">
          <%= f.text_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
        </div>
      </div>
    </div>
    <div class='row signup-form' id='zipcode'>
      <div class="form-group">
        <div class="control-label col-sm-2 text-right">
          <%= f.label :Zipcode %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :zipcode, class: "form-control", placeholder: "Enter Zipcode", autofocus: true %>
        </div>
      </div>
    </div>
    <div class='row signup-form'>
      <div class="form-group">
        <div class="control-label col-sm-2 text-right">
          <%= f.label :Are_you_a_Supplier? %>
        </div>
        <div class="col-sm-8">
          <%= f.check_box :is_vendor, class: "form-control",id:'supplier_checkbox' %>
        </div>
      </div>
    </div>
    <div class='row signup-form' hidden id='company_name'>
      <div class="form-group">
        <div class="control-label col-sm-2 text-right">
          <%= f.label :company_name %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :company_name, class: "form-control", placeholder: "Enter Company name here" %>
        </div>
      </div>
    </div>
    <div class='row signup-form' hidden id='supplier_code'>
      <div class="form-group">
        <div class="control-label col-sm-2 text-right">
          <%= f.label :supplier_code %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :supplier_code, class: "form-control", placeholder: "Enter Supplier Code here" %>
        </div>
      </div>
    </div>
    <div hidden class='row signup-form' id='upload_image'>
      <div class="form-group">
        <div class="control-label col-sm-2 text-right">
          <%= f.label :Upload_image %>
        </div>
        <div class="col-sm-8">
          <%= f.button :profile_image, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class='row signup-form'>
      <div class="form-group">
        <div class="control-label col-sm-2 text-right">
          <%= f.label :password %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </div>
      </div>
    </div>
    <div class='row signup-form'>
      <div class="form-group">
        <div class="control-label col-sm-2 text-right">
          <%= f.label :password_confirmation, 'Confirm password' %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password again" %>
        </div>
      </div>
      <div class='row signup-form'>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 sign-btn signup-form ">
            <%= f.submit "Sign up Here", class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<script>

$('#supplier_checkbox').on('click',function(){
  if(this.checked){
    $('#company_name').show('fast')
    $('#supplier_code').show('fast')
    $('#upload_image').show('fast')
  }else{
    $('#company_name').hide('fast')
    $('#supplier_code').hide('fast')
    $('#upload_image').hide('fast')
  }
})
</script>
