<div id='prof-pg'>
<%if @user ==@current_user%>
  <div class=" tabs-right tab-sideways tabs-krajee">
    <ul id="myTab"class="nav nav-tabs" role="tablist">
      <li class="active tab-sideways"><a href="#id00" role="tab" data-toggle="tab" >Products</a></li>
      <li class="tab-sideways"><a href="#id01" role="tab" data-toggle="tab" >Orders</a></li>
      <li><a href="#id02" role="tab" data-toggle="tab">Bids</a></li>
      <li><a href="#id03" role="tab" data-toggle="tab">Retail</a></li>
    </ul>
  </div>
<%end%>

<div class='spin' style='margin:10vw 10vw 5vw 10vw'>
  <div class="row prof-box-slim" >
    <div class='col-sm-1'>
    </div>
    <div class="col-sm-3">
      <br>
      <%= image_tag(@user.avatar.url,:size => "120x120") %>
    </div>
    <div class="col-sm-3">
      <h3 style ='color:lightgray'><%= @user.company_name if @user.company_name%></h3>
      <h3 style ='color:lightgray'><%= @user.email%></h3>
      <h4 style ='color:lightgray'><%= @user.city%>, <%= @user.state%>
    </div>
    <div class='col-sm-3'>
      <h3></h3>
      <h4 style ='color:lightgray'>Supplier Profile</h4>
      <h4 style ='color:lightgray'>501-555-2099</h4>
      <%if @user ==@current_user%>
      <h4><%=link_to edit_user_path_url(@user), :id=>"edit-user-pencil" do%><i class="glyphicon glyphicon-cog"></i><%end%></h4>
      <%end%></h4>
    </div>
  </div>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="id00">
      <div class='row'>
        <div>
          <h2 style='margin-left:-4vw'> Products
          <%if @user ==@current_user%>
            <h4 style='margin-left:-4vw;width:30px'class="bulk_order_link"><%=link_to new_item_path do %><i class="glyphicon glyphicon-plus"></i><%end%></h4>
          <%end%>
              <%@user.items.each do |item|%>
              <div class ='product-items text-center'>
                  <h3 ><%=item.item_name%></h3>
                  <h3 ><%=image_tag(item.avatar.url, :size => "120x120")%></h3>
                  <h4 ><%=item.description%></h4>
                  <h4><%if @user == @current_user%>
                    <%=link_to edit_item_path(item), :id=>"edit-user-pencil"  do%><i class="glyphicon glyphicon-pencil"></i><%end%></h4>
                  <%end%>
                </div>
              <%end%>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="id01">
        <div class='row'>
          <div class="col-md-12 prof-info">
            <h2 style='margin-left:-4vw'> Batches
            <%if @user ==@current_user%>
              <span style='width:30px'class="bulk_order_link"><%=link_to new_bulk_order_path do %><i class="glyphicon glyphicon-plus"></i><%end%></span></h2>
            <%end%>
            <div class='row'>
              <h4 id='queued-arrow' style='margin: 2vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='queued-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
              <h2 class="text-left"> Queued Orders:</h2>
              <div id='queued-orders'>
                <%@queued_orders.each do |order|%>
                  <div class='col-md-6'>
                    <div class='row'>
                      <div class='col-md-6'>
                        <h4><%=order.item_name%></h4>
                        <h3 ><%=image_tag(order.item.avatar.url, :size => "120x120")%></h3>
                      </div>
                      <div class='col-md-6'>
                        <h4>Market Price : $<%=order.market_price%> </h4>
                        <h4>Whole Sale Price : $<%=order.wholesale_price%></h4>
                        <h4>Order Size : <%=order.max_amount%> grams</h4>
                        <h3><%=link_to seller_edit_bulk_order_path_url(order) do %><i class="glyphicon glyphicon-pencil"></i><%end%>
                        <%=link_to publish_bulk_order_path_url(order), :method=> :post do %><i class="glyphicon glyphicon-share-alt"></i><%end%></h3>
                      </div>
                    </div>
                    <hr>
                  </div>
                <%end%>
              </div>
            </div>
            <div class='row'>
              <h4 id='open-arrow' style='margin: 2vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='open-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
              <h2 class="text-left"> Open Orders:</h2>
              <div id='open-orders'>
                <%@open_orders.each do |order|%>
                <div class='col-md-6'>
                  <div class='row'>
                    <div class='col-md-6'>
                      <h4><%=order.item_name%></h4>
                      <h3 ><%=image_tag(order.item.avatar.url, :size => "120x120")%></h3>
                    </div>
                    <div class='col-md-6'>
                      <h4><%=order.percent_filled%> / <%=order.max_amount%> g reserved</h4>
                      <h4><%=order.user_orders.count%> Users</h4>
                      <h4>Spent: $<%=order.percent_filled * order.wholesale_price%></h4>
                      <h3><%=link_to bulk_order_path(order) do%><i class="glyphicon glyphicon-eye-open"></i><%end%></h3>
                    </div>
                  </div>
                  <hr>
                </div>
                <%end%>
              </div>
            </div>
            <div class='row'>
              <h4 id='closed-arrow' style='margin: 2vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='closed-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
              <h2 class="text-left"> Closed Orders:</h2>
              <div id='closed-orders'>
                <%@closed_orders.each do |order|%>
                <div class='col-md-6'>
                  <div class='row'>
                    <div class='col-md-6'>
                      <h4><%=order.item_name%></h4>
                      <h3 ><%=image_tag(order.item.avatar.url, :size => "120x120")%></h3>
                    </div>
                    <div class='col-md-6'>
                      <h4><%=order.percent_filled%> / <%=order.max_amount%> g reserved</h4>
                      <h4>Users: <%=order.user_orders.count%></h4>
                      <h4>Amount: $<%=order.percent_filled * order.wholesale_price%></h4>
                      <h3><%=link_to bulk_order_path(order) do%><i class="glyphicon glyphicon-eye-open"></i><%end%>
                      <%=link_to new_bulk_order_path(market_pr: order.market_price, whole_pr: order.wholesale_price, amount:order.max_amount, item: order.item) do%><i class="glyphicon glyphicon-refresh"></i><%end%></h3>
                    </div>
                  </div>
                  <hr>
                </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="tab-pane fade" id="id02">
      <div class='row'>
        <div class="col-md-9 prof-info">
          <div class='row'>
              <div class='col-md-6'>
                <h2 class='text-center'> Open Bids:</h2>
                <%@user_bids_open.each do |bid|%>
                  <h4>Title: <%=bid.title%><h4>
                  <h4>Amount: <%=bid.amount%> grams<h4>
                  <h4>Price range: $<%=bid.price_min%> - $<%=bid.price_max%><h4>
                    <%if @user.bid_offers.where(bid: bid).exists?%>
                      <%=link_to 'View Your Offer',bid_offer_path(@user.bid_offers.where(bid: bid)[0])%><br>
                    <%else%>
                      <%=link_to 'Make an Offer',new_bid_offer_path(:bid_id => bid.id)%>
                    <%end%>
                    <hr>
                <%end%>
              </div>
              <div class='col-md-6'>
                <h2 class='text-center'> Closed Bids:</h2>
                <%@user_bids_supplier.each do |bid|%>
                  <h4>Title: <%=bid.title%><h4>
                  <h4>Amount: <%=bid.amount%> grams<h4>
                  <h4>Final Price: $<%=bid.bid_offers[0].price%><h4>
                  <h4>Buyer: <%=bid.buyer.email%><h4>
                    <hr>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%if @user ==@current_user%>
        <div class="tab-pane fade" id="id03">
          <div class='row'>
            <div class="col-md-9 prof-info">
              <h3>RETAIL DISTRIBUTION IS UNDER CONSTRUCTION</h3>
              <h4>Please Contact Us</h4>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){

    // $('.item-carousel').slick({
    //   infinite: false,
    //   slidesToShow: 3,
    //   slidesToScroll: 3
    // });

    ToggleArrow('#queued-arrow','#queued-orders','#queued-icon')
    ToggleArrow('#open-arrow','#open-orders','#open-icon')
    ToggleArrow('#closed-arrow','#closed-orders','#closed-icon')

    function ToggleArrow(btn,area,icon){
      $(btn).on('click',function(){
        $(icon).hasClass('glyphicon-arrow-up') ?
        $(icon).removeClass('glyphicon-arrow-up').addClass('glyphicon-arrow-down')
        : $(icon).removeClass('glyphicon-arrow-down').addClass('glyphicon-arrow-up')
        $(area).toggle('medium');
      })
    }

  })
</script>
