<div id='prof-pg'>

<div class='spin' style='margin:10vw 10vw 5vw 10vw'>
  <div class="row prof-box-slim" >
    <div class='col-sm-1'>
    </div>
    <div class="col-sm-3">
      <br>
      <%= image_tag(@user.avatar.url,:size => "120x120") %>
    </div>
    <div class="col-sm-3">
      <h3 style ='color:lightgray'><%= @user.company_name if @user.company_name%></h3>
      <h3 style ='color:lightgray'><%= @user.email%></h3>
      <h4 style ='color:lightgray'><%= @user.city%>, <%= @user.state%>
    </div>
    <div class='col-sm-3'>
      <h3></h3>
      <h4 style ='color:lightgray'>Supplier Profile</h4>
      <h4 style ='color:lightgray'>501-555-2099</h4>
      <%if @user ==@current_user%>
      <h4><%=link_to edit_user_path_url(@user), :id=>"edit-user-pencil" do%><i class="glyphicon glyphicon-cog"></i><%end%></h4>
      <%end%></h4>
    </div>
  </div>
  <div class=" tabs-krajee">
    <ul id="myTab"class="nav nav-tabs" role="tablist">
      <li class="active tab-sideways"><a id='product-tab'  href="#id00" role="tab" data-toggle="tab" >Products</a></li>
      <li class="tab-sideways"><a id='batch-tab'  href="#id01" role="tab" data-toggle="tab" >Batches</a></li>
      <%if @user ==@current_user%>
      <li><a id='bids-tab' href="#id02" role="tab" data-toggle="tab">Bids</a></li>
      <li><a id='retails-tab' href="#id03" role="tab" data-toggle="tab">Retail</a></li>
      <%end%>
    </ul>
  </div>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="id00">
      <div class='row'>
        <div class="col-md-12 prof-info">
          <h2 style='margin-left:-4vw'> Products
          <%if @user ==@current_user%>
            <span style='width:30px'class="bulk_order_link"><%=link_to new_item_path do %><i class="glyphicon glyphicon-plus"></i><%end%></span>
            <span style='font-size: 1vw;float:right;margin:-1vw 15vw 0vw 0vw'>Create and Edit your CBD Products here. <br>Start new Bulk Orders in the Batches section above</span>
          <%end%>
          <div class='row' style='margin-left:3vw'>
            <br>
            <%@user.items.each do |item|%>
              <div class ='product-items text-center'>
                  <h3 ><%=item.item_name%></h3>
                  <%=link_to item_path(item) do %>
                    <h3 ><%=image_tag(item.avatar.url, :size => "120x120")%></h3>
                  <%end%>
                  <h4 ><%=item.description%></h4>
                  <%if @user == @current_user%>
                    <h4><%=link_to edit_item_path(item), :id=>"edit-user-pencil"  do%><i class="glyphicon glyphicon-pencil"></i><%end%></h4>
                  <%end%>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="id01">
        <div class='row'>
          <div class="col-md-12 prof-info">
            <h2 style='margin-left:-4vw'> Batches
            <%if @user ==@current_user%>
              <span style='width:30px'class="bulk_order_link"><%=link_to new_bulk_order_path do %><i class="glyphicon glyphicon-plus"></i><%end%></span>
              <span style='font-size: 1vw;float:right;margin:-2vw 15vw 0vw 0vw'> <br>Create a new Batch for buyers to start joining<br>Queue up a Batch and Publish it when ready<br>Monitor the users in your open and closed Batches</span>

              <div class='row'>
                <h4 id='queued-arrow' style='margin: 2vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='queued-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
                <h3 class="text-left"> Queued Batches:</h3>
                <div id='queued-orders'>
                  <%@queued_orders.each do |order|%>
                    <div class='col-md-6'>
                      <div class='row'>
                        <div class='col-md-6'>
                          <h4><%=order.item_name%></h4>
                          <h3 ><%=image_tag(order.item.avatar.url, :size => "120x120")%></h3>
                        </div>
                        <div class='col-md-6'>
                          <h4>Market Price : $<%=order.market_price%> </h4>
                          <h4>Whole Sale Price : $<%=order.wholesale_price%></h4>
                          <h4>Order Size : <%=order.max_amount%> grams</h4>
                          <h3><%=link_to seller_edit_bulk_order_path_url(order) do %><i class="glyphicon glyphicon-pencil"></i><%end%>
                          <%=link_to publish_bulk_order_path_url(order), :method=> :post do %><i class="glyphicon glyphicon-share-alt"></i><%end%></h3>
                        </div>
                      </div>
                      <hr>
                    </div>
                  <%end%>
                </div>
              </div>
            <%end%>
            <div class='row'>
              <%if @user ==@current_user%>
                <h4 id='open-arrow' style='margin: 2vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='open-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
              <%end%>
              <h3 class="text-left"> Open Batches:</h3>
              <div id='open-orders'>
                <%@open_orders.each do |order|%>
                <div class='col-md-6'>
                  <div class='row'>
                    <div class='col-md-6'>
                      <h4><%=order.item_name%></h4>
                      <h3 ><%=image_tag(order.item.avatar.url, :size => "120x120")%></h3>
                    </div>
                    <div class='col-md-6'>
                      <h4><%=order.percent_filled%> / <%=order.max_amount%> g reserved</h4>
                      <h4><%=order.user_orders.count%> Users</h4>
                      <h4>Spent: $<%=order.percent_filled * order.wholesale_price%></h4>
                      <h3><%=link_to bulk_order_path(order) do%><i class="glyphicon glyphicon-eye-open"></i><%end%></h3>
                    </div>
                  </div>
                  <hr>
                </div>
                <%end%>
              </div>
            </div>
            <%if @user ==@current_user%>
              <div class='row'>
                <h4 id='closed-arrow' style='margin: 2vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='closed-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
                <h3 class="text-left"> Closed Batches:</h3>
                <div id='closed-orders'>
                  <%@closed_orders.each do |order|%>
                  <div class='col-md-6'>
                    <div class='row'>
                      <div class='col-md-6'>
                        <h4><%=order.item_name%></h4>
                        <h3 ><%=image_tag(order.item.avatar.url, :size => "120x120")%></h3>
                      </div>
                      <div class='col-md-6'>
                        <h4><%=order.percent_filled%> / <%=order.max_amount%> g reserved</h4>
                        <h4>Users: <%=order.user_orders.count%></h4>
                        <h4>Amount: $<%=order.percent_filled * order.wholesale_price%></h4>
                        <h3><%=link_to bulk_order_path(order) do%><i class="glyphicon glyphicon-eye-open"></i><%end%>
                        <%=link_to new_bulk_order_path(market_pr: order.market_price, whole_pr: order.wholesale_price, amount:order.max_amount, item: order.item) do%><i class="glyphicon glyphicon-refresh"></i><%end%></h3>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <%end%>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    <div class="tab-pane fade" id="id02">
      <div class='row'>
        <div class="col-md-12 prof-info">
          <h2 style='margin-left:-4vw'> Bids</h2>
          <div class='row'>
            <h4 id='new-bid-arrow' style='margin:  1vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='new-bid-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
            <h3 class='text-left'> New Bids:</h3>
            <div id='new-bids'>
              <div class='row'>
                <%@user_bids_new.each do |bid|%>
                  <div class='product-items text-center'>
                    <h4>Title: <%=bid.title%><h4>
                    <h4>Amount: <%=bid.amount%> grams<h4>
                    <h4>Price Max: $<%=bid.price_max%><h4>
                    <h4>Date range:<br> <%=bid.early_date.strftime('%m/%d/%Y')%> to <%=bid.late_date.strftime('%m/%d/%Y')%><h4>
                    <h4>Frequency: <%=bid.frequency%><h4>
                    <%=link_to 'Make an Offer',new_bid_offer_path(:bid_id => bid.id)%>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
          <div class='row'>
            <h4 id='offered-bid-arrow' style='margin: 1vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='offered-bid-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
            <h3 class='text-left'> Sent Bids:</h3>
            <div id='offered-bids'>
              <div class='row'>
                <%@user_bids_offered.each do |bid|%>
                  <div class='product-items text-center'>
                    <h4>Title: <%=bid.title%><h4>
                    <h4>Amount: <%=bid.amount%> grams<h4>
                    <h4>Price Max: $<%=bid.price_max%><h4>
                    <h4>Date range:<br> <%=bid.early_date.strftime('%m/%d/%Y')%> to <%=bid.late_date.strftime('%m/%d/%Y')%><h4>
                    <h4>Frequency: <%=bid.frequency%><h4>
                      <%=link_to 'View Your Offer',bid_offer_path(@user.bid_offers.where(bid: bid)[0])%><br>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
          <div class='row'>
            <h4 id='closed-bid-arrow' style='margin: 1vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='closed-bid-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
            <h3 class='text-left'> Closed Bids:</h3>
            <div id='closed-bids'>
              <div class='row'>
                <%@user_bids_supplier.each do |bid|%>
                  <div class='row'>
                    <div class='col-sm-6'>
                      <h4>Title: <%=bid.title%><h4>
                      <h4>Amount: <%=bid.amount%> grams<h4>
                      <h4>Final Price: $<%=bid.bid_offers[0].price%><h4>
                      <h4>Frequency: <%=bid.frequency%><h4>
                    </div>
                    <div class='col-sm-6'>
                      <div class='row'>
                        <div class='col-sm-4'>
                          <span ><%= image_tag(bid.buyer.avatar.url, :size => "100x100") %></span>
                        </div>
                        <div class='col-sm-6'>
                          <%=link_to user_path_url(bid.buyer) do%>
                          <h4><%=bid.buyer.email%></h4>
                          <%end%>
                          <h4><%=bid.buyer.city%>, <%=bid.buyer.state%></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%if @user ==@current_user%>
      <div class="tab-pane fade" id="id03">
        <div class='row'>
          <div class="col-md-9 prof-info">
            <h3>RETAIL DISTRIBUTION IS UNDER CONSTRUCTION</h3>
            <h4>Please Contact Us</h4>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
</div>
<script>
// OUTSIDE OF DOCUMENT READY TO LOAD FASTER SO NO FADE EFFECT
var tab_name = localStorage.getItem('openTab')
$(tab_name).trigger('click')

  $(document).ready(function(){

    function setTabValue(element){
      $(element).on('click',function(){
        localStorage.setItem('openTab',element)
      })
    }

    setTabValue('#product-tab')
    setTabValue('#batch-tab')
    setTabValue('#bids-tab')
    setTabValue('#retails-tab')

    console.log(localStorage.getItem('openTab'))


    ToggleArrow('#queued-arrow','#queued-orders','#queued-icon')
    ToggleArrow('#open-arrow','#open-orders','#open-icon')
    ToggleArrow('#closed-arrow','#closed-orders','#closed-icon')

    ToggleArrow('#offered-bid-arrow','#offered-bids','#offered-bid-icon')
    ToggleArrow('#new-bid-arrow','#new-bids','#new-bid-icon')
    ToggleArrow('#closed-bid-arrow','#closed-bids','#closed-bid-icon')

    function ToggleArrow(btn,area,icon){
      $(btn).on('click',function(){
        $(icon).hasClass('glyphicon-arrow-up') ?
        $(icon).removeClass('glyphicon-arrow-up').addClass('glyphicon-arrow-down')
        : $(icon).removeClass('glyphicon-arrow-down').addClass('glyphicon-arrow-up')
        $(area).toggle('medium');
      })
    }

  })
</script>
