<br /><br /><br />
<div class="container">
  <%if @user.is_vendor%>
  <h1 class="text-center">Vendor Profile Page</h1>
  <%else%>
  <h1 class="text-center">Buyer Profile Page</h1>
  <%end%>
  <div class="row " style="background-color:#86A397;border-radius:20px;padding:20px">
    <div class="col-md-3 prof-pic">
      <img class="profilePic" src="http://i.imgur.com/IulSm39.jpg" alt="profile pic" style ="margin:10px">
      <h3>Company: <%= @user.company_name%></h3>
      <h3>Email: <%= @user.email%></h3>
    </div>
    <%if @user.is_vendor%>
    <div class="col-md-9 prof-info navbar_link">
      <h2 style='float:right;margin-right:60px'>Current Orders:</h2>
      <h2 >Current Items:<h2>
        <ul>
          <%@user.items.each do |item|%>
          <hr>
          <div class="row">
            <div class='col-md-3'>
              <h3><%=image_tag(item.image, :size => "100x100")%></h3>
            </div>
            <div class='col-md-4'>
              <h3><%=item.item_name%> -</h3>
              <h4>$<%=item.price%>/g</h4>
              <h4><%=item.max_amount%> g left</h4>
            </div>
            <div class='col-md-5'>
              <br>
              <div class="row">
                  <ul>
                  <%item.bulk_orders.each do |bulk|%>
                  <div class="col-md-7">
                    <li><%=bulk.percent_filled%>/<%=bulk.max_amount%> spots filled<br>
                    <%=bulk.users.count%> Users in order<br>
                    <%if bulk.completed%>
                    COMPLETED
                    <%end%></li>
                  </div>
                  <div class="col-md-5">
                    <span class="bulk_order_link" ><%=link_to 'see order',bulk_order_path(bulk)%></span>
                  </div>
                  <br>
                  <%end%>
                  </ul>
              </div>
            </div>
          </div>
          <%end%>
          <h4 style='width:20%'class="bulk_order_link"><%=link_to 'Add Item',new_item_path%></h4>
        </ul>
    </div>
    <%else%>
    <div class="col-md-7 prof-info navbar_link">
      <h2 >Current Orders:<h2>
        <ul>
          <%@user.user_orders.each do |order|%>
          <h3><%=order.item%>: <%=order.quantity rescue nil%> grams for $<%=order.total_price rescue nil%>
            <%=link_to '-Edit Order', edit_user_order_path(order,:item => order.item, :price => (order.total_price/order.quantity))%><h3>
              <%@bulk_order = order.bulk_order%>
              <h4><%=@bulk_order.percent_filled%>/<%=@bulk_order.max_amount%> Spots of this Order Filled</h4>
              <hr>
          <%end%>
        </ul>
    </div>
    <%end%>
  </div>
</div>
