<div id='prof-pg'>
<%if @user == @current_user%>
  <div class="tabs-right tab-sideways tabs-krajee">
    <ul id="myTab"class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#id01" role="tab" data-toggle="tab" >Orders</a></li>
      <li><a href="#id02" role="tab" data-toggle="tab">Bids</a></li>
      <li><a href="#id03" role="tab" data-toggle="tab">Retail</a></li>
    </ul>
  </div>

<div class='spin' style='margin:10vw 10vw 5vw 10vw'>
  <div class="row prof-box-slim" >
    <div class='col-sm-1'>
    </div>
    <div class="col-sm-3">
      <br>
      <%= image_tag(@user.avatar.url,:size => "120x120") %>
    </div>
    <div class="col-sm-3">
      <h3 style ='color:lightgray'><%= @user.company_name if @user.company_name%></h3>
      <h3 style ='color:lightgray'><%= @user.email%></h3>
      <h4 style ='color:lightgray'><%= @user.city%>, <%= @user.state%>
    </div>
    <div class='col-sm-3'>
      <h3></h3>
      <h4 style ='color:lightgray'>Buyer Profile</h4>
      <h4 style ='color:lightgray'>501-555-2099</h4>
      <h4><%=link_to edit_user_path_url(@user), :id=>"edit-user-pencil" do%><i class="glyphicon glyphicon-cog"></i><%end%></h4>
    </div>
  </div>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="id01">
        <div class='row'>
          <div class="col-md-12 prof-info">
          <h2 style='margin-left:-4vw'> Orders
            <div class='row'>
              <h4 id='open-arrow' style='margin: 2vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='open-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
              <h2 class="text-left"> Open Orders:</h2>
              <div id='open-orders'>
                <%@open_orders.each do |order|%>
                  <div class='col-md-6'>
                    <div class='row'>
                      <div class='col-md-6'>
                        <h4><%=order.bulk_order.item_name%></h4>
                        <h3 ><%=image_tag(order.bulk_order.item.avatar.url, :size => "120x120")%></h3>
                      </div>
                      <div class='col-md-6'>
                        <h4><%=order.bulk_order.percent_filled%> / <%=order.bulk_order.max_amount%> g reserved</h4>
                        <h4><%=order.quantity%>grams</h4>
                        <h4>Spent: $<%=order.total_price%></h4>
                        <h3><%=link_to edit_user_order_path(order) do%><i class="glyphicon glyphicon-pencil"></i><%end%>
                        <%=link_to user_order_path(order), :method => :delete do %><i class="glyphicon glyphicon-trash"></i><%end%></h3>
                      </div>
                    </div>
                    <hr>
                  </div>
                <%end%>
              </div>
            </div>
            <div class='row'>
              <h4 id='closed-arrow' style='margin: 2vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='closed-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
              <h2 class="text-left"> Closed Orders:</h2>
              <div id='closed-orders'>
                <%@closed_orders.each do |order|%>
                  <div class='col-md-6'>
                    <div class='row'>
                      <div class='col-md-6'>
                        <h4><%=order.bulk_order.item_name%></h4>
                        <h3 ><%=image_tag(order.bulk_order.item.avatar.url, :size => "120x120")%></h3>
                        <%if order.buy_now%>
                      <%end%>
                    </div>
                    <div class='col-md-6'>
                      <h4><%=order.quantity%>grams</h4>
                      <h4>Spent: $<%=order.total_price%></h4>
                      <%if order.buy_now%>
                      <h5>** Buy Now Order</h5>
                        <h3><%=link_to user_order_buy_now_path_url(order) do%><i class="glyphicon glyphicon-eye-open"></i><%end%></h3>
                      <%else%>
                      <h4><%=order.bulk_order.percent_filled%> / <%=order.bulk_order.max_amount%> g</h4>
                        <h3><%=link_to user_order_path(order) do%><i class="glyphicon glyphicon-eye-open"></i><%end%></h3>
                      <%end%>
                    </div>
                  </div>
                  <hr>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="id02">
      <div class='row'>
        <div class="col-md-12 prof-info">
          <h4 style='float:left;width:30px'class="bulk_order_link"><%=link_to new_bid_path do%><i class="glyphicon glyphicon-plus"></i><%end%></h4>
          <h1 style='margin-left:-4vw'> Bids</h1>
          <div class='row'>
            <h4 id='queued-bid-arrow' style='margin: 1vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='queued-bid-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
            <h2 class='text-left'> Queued Bids:</h2>
            <div id='queued-bids'>
              <div class='row'>
                <%@user_bids_buyer_queued.each do |bid|%>
                  <div class=' product-items text-center'>
                    <h4>Title: <%=bid.title%><h4>
                    <h4>Amount: <%=bid.amount%> grams<h4>
                    <h4>Price Max: $<%=bid.price_max%><h4>
                    <h4>Date range:<br> <%=bid.early_date.strftime('%m/%d/%Y')%> to <%=bid.late_date.strftime('%m/%d/%Y')%><h4>
                    <h4>Frequency: <%=bid.frequency%><h4>
                    <%if bid.DEH_approved == false%>
                      <h4>No DEH needed</h4>
                    <% else %>
                      <h4>DEH Required</h4>
                    <% end%>
                    <h3><%=link_to edit_bid_path(bid) do %><i class="glyphicon glyphicon-pencil"></i><%end%>
                    <%=link_to publish_bid_path_url(bid), :method=> :post do %><i class="glyphicon glyphicon-share-alt"></i><%end%></h3>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
          <div class='row'>
            <h4 id='open-bid-arrow' style='margin: 1vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='open-bid-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
            <h2 class='text-left'> Open Bids:</h2>
            <div id='open-bids'>
              <div class='row'>
                <%@user_bids_buyer_open.each do |bid|%>
                  <div class='product-items text-center'>
                    <h4>Title: <%=bid.title%><h4>
                    <h4>Amount: <%=bid.amount%> grams<h4>
                    <h4>Price Max: $<%=bid.price_max%><h4>
                    <h4>Date range:<br> <%=bid.early_date.strftime('%m/%d/%Y')%> to <%=bid.late_date.strftime('%m/%d/%Y')%><h4>
                    <h4>Frequency: <%=bid.frequency%><h4>
                    <%if bid.DEH_approved == false%>
                      <h4>No DEH needed</h4>
                    <% else %>
                      <h4>DEH Required</h4>
                    <% end%>
                    <%if bid.bid_offers.present?%>
                      <h3><%=link_to 'View All Bid Offers',bid_offers_path(:bid_id => bid.id)%></h3>
                    <%else%>
                      <h3>**No Bid Offers Yet</h3>
                    <%end%>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
          <div class='row'>
            <h4 id='closed-bid-arrow' style='margin: 1vw 0vw 0vw -4vw;float:left;width:30px'class="bulk_order_link"><i id='closed-bid-icon' class="glyphicon glyphicon-arrow-up"></i></h4>
            <h2 class='text-left'> Closed Bids:</h2>
            <div id='closed-bids'>
              <%@user_bids_buyer_closed.each do |bid|%>
                <div class='row'>
                  <div class='col-sm-6'>
                    <h4>Title: <%=bid.title%><h4>
                    <h4>Amount: <%=bid.amount%> grams<h4>
                    <h4>Final Price: $<span class='bid_price'><%=bid.bid_offers[0].price %></span><h4>
                    <h4>Delivery Date:<%=bid.bid_offers[0].delivery_date%></h4>
                  </div>
                  <div class='col-sm-6'>
                    <div class='row'>
                      <div class='col-sm-4'>
                        <span ><%= image_tag(bid.supplier.avatar.url, :size => "100x100") %></span>
                      </div>
                      <div class='col-sm-6'>
                        <%=link_to user_supplier_path_url(bid.supplier) do%>
                        <h4><%=bid.supplier.company_name%></h4>
                        <%end%>
                        <h4><%=bid.supplier.city%>, <%=bid.supplier.state%></h4>
                      </div>
                    </div>
                    <br>
                    <div class='row text-center'>
                      <%if bid.paid%>
                        <h4>Order is being Proccesed</h4>
                      <%else%>
                        <button type="submit" id = 'payButton' class='payBidButton' onclick="payStripe('<%=bid.bid_offers[0].price%>')">PAY</button>
                      <%end%>
                    </div>
                  </div>
                  <hr>
                </div>
                <hr>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    <div class="tab-pane fade" id="id03">
      <div class="col-md-9 prof-info">
        <h3>RETAIL DISTRIBUTION IS UNDER CONSTRUCTION</h3>
        <h4>Please Contact Us</h4>
      </div>
    </div>
    </div>
  </div>
  <div hidden id='user_email'><%=@user.email%></div>
</div>
<%else%>
<div class='user-review-profile'>
  <div class="row prof-box-slim" >
    <div class='col-sm-1'>
    </div>
    <div class="col-sm-3">
      <br>
      <%= image_tag(@user.avatar.url,:size => "120x120") %>
    </div>
    <div class="col-sm-3">
      <h3 style ='color:lightgray'><%= @user.company_name if @user.company_name%></h3>
      <h3 style ='color:lightgray'><%= @user.email%></h3>
      <h4 style ='color:lightgray'><%= @user.city%>, <%= @user.state%>
    </div>
    <div class='col-sm-3'>
      <h3></h3>
      <h4 style ='color:lightgray'>Buyer Profile</h4>
      <h4 style ='color:lightgray'>501-555-2099</h4>
    </div>
  </div>
  <div class='row' style='margin:0vw 3vw 0vw 3vw'>
    <h2 class='text-left'>User's Reviews</h2>
    <%@reviews.each do |review|%>
      <div class='row'>
        <div class='col-sm-6'>
          <h5><%= image_tag(review.user.avatar.url, :class => "nav_prof_pic") %>
          <%=review.user.email%></h5>
          <h4><%review.rating.times do%>
          <i class="glyphicon glyphicon-star"></i>
          <%end%>
          <%(5-review.rating).times do%>
          <i class="glyphicon glyphicon-star-empty"></i>
          <%end%>
          <%=review.title%></h4>
          <h5><%=review.body%></h5>
        </div>
        <div class='col-sm-6'>
          <div class='row'>
            <div class='col-sm-4'>
              <%if review.bulk_order%>
                <h3><%=review.bulk_order.item_name%></h3>
              <%else%>
                <h3><%=review.user_order.bulk_order.item_name%></h3>
              <%end%>
              <%=link_to item_path(review.item) do %>
              <%= image_tag(review.item.avatar.url, :size => "100x100") %>
              <%end%>
            </div>
            <div class='col-sm-8'>
              <%if review.bulk_order%>
                <h4><%=review.bulk_order.description%></h4>
                <h5><%=review.bulk_order.max_amount%> grams total</h5>
                <h5>*Bulk order</h5>
              <%else%>
                <h4><%=review.user_order.bulk_order.description%></h4>
                <h5><%=review.user_order.quantity%> grams total</h5>
                <h5>*Buy Now order</h5>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <%end%>
  </div>
</div>
<%end%>
  <article>
    <%= hidden_field_tag(:amount) %>
  </article>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
</form>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>

  function payStripe(amount){
    var user_email = $('#user_email').text()
    handler.open({
      amount: amount * 100,
      description:'Bid Payment',
      email:user_email
    });
  }
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    name: $('#item_name').text(),
    token: function(token) {
      $('input#stripeToken').val(token.id);
      $('input#amount').val(amount)

      $(".spin").spin({
        lines: 12, // The number of lines to draw
        length: 15, // The length of each line
        width: 9, // The line thickness
        radius: 30, // The radius of the inner circle
        color: '#000', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false // Whether to render a shadow
      });
      // MAKE AJAX CALL TO SAY BID HAS BEEN PAID
      $('form').submit()
    }
  });
$(window).on('popstate', function() {
  handler.close();
});

ToggleArrow('#open-arrow','#open-orders','#open-icon')
ToggleArrow('#closed-arrow','#closed-orders','#closed-icon')

ToggleArrow('#queued-bid-arrow','#queued-bids','#queued-bid-icon')
ToggleArrow('#open-bid-arrow','#open-bids','#open-bid-icon')
ToggleArrow('#closed-bid-arrow','#closed-bids','#closed-bid-icon')

function ToggleArrow(btn,area,icon){
  $(btn).on('click',function(){
    $(icon).hasClass('glyphicon-arrow-up') ?
    $(icon).removeClass('glyphicon-arrow-up').addClass('glyphicon-arrow-down')
    : $(icon).removeClass('glyphicon-arrow-down').addClass('glyphicon-arrow-up')
    $(area).toggle('medium');
  })
}
</script>
