<div style='margin:10vw 10vw 5vw 10vw' class="container card">
<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%if item.new_record?%>
  <h3 class='text-center'>Create new Item</h3>
  <h5 class='text-center'>Once an item has been purchased by someone, it is un editable for that order<h5>
  <br>
  <%else%>
  <h3 class='text-center'>Edit Item</h3>
  <h5 class='text-center'>Changes will only apply to future orders. Items already purchased are un editable<h5>
  <br>
  <%end%>
    <div class="row" >
      <div class="col-sm-3 prof-box">
        <%if @user.avatar.present?%>
        <%= image_tag(@user.avatar.url,:style =>"width:15vw;margin:10px") %>
        <%else%>
        <%= image_tag('user-icon.png',:id =>"nav_prof_pic") %>
        <%end%>
        <h4><%=link_to edit_user_path_url(@user), :id=>"edit-user-pencil" do%><i class="glyphicon glyphicon-pencil"></i><%end%></h4>
        <h3 style ='color:lightgray'><%= @user.company_name if @user.company_name%></h3>
        <h3 style ='color:lightgray'><%= @user.email%></h3>
        <h4 style ='color:lightgray'><%= @user.city%>, <%= @user.state%></h4>
      </div>
      <div class='col-sm-1'>
      </div>
      <div class='col-sm-8'>
        <div class='row'>
          <div class='col-md-5'>
            <div class="form-group">
              <%if item.avatar.present?%>
                <%=image_tag(item.avatar.url(:medium))%><br>
              <%end%>
              <%= form.label :Upload_Picture %>
              <%= form.file_field :avatar %>
            </div>
          </div>
          <div class='col-md-7'>
            <div class="form-group">
              <%= form.label :item_name %>
              <%= form.text_field :item_name, id: :item_item_name %>
            </div>
            <div class="form-group">
              <%= form.label :market_price_per_gram %>
              <%= form.number_field :market_price, id: :item_market_price %>
            </div>
            <div class="form-group">
              <%= form.label :wholesale_price_per_gram %>
              <%= form.number_field :price, id: :item_price %>
            </div>
            <div class="form-group">
              <%= form.label :grams_per_bulk_order %>
              <%= form.text_field :bulk_order_amount, id: :bulk_order_amount %>
            </div>
            <div class="form-group">
              <%= form.label :total_amount_of_grams %>
              <%= form.text_field :max_amount, id: :max_amount %>
            </div>
            <div class="form-group">
              <div class="sign-btn signup-form ">
                <%= form.submit "Save Changes", class: 'btn btn-primary btn-lg submit-btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>

<script>
$('.submit-btn').on('click',function(){
  $(".spin").spin({
    lines: 12, // The number of lines to draw
    length: 15, // The length of each line
    width: 9, // The line thickness
    radius: 30, // The radius of the inner circle
    color: '#000', // #rgb or #rrggbb
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false // Whether to render a shadow
  });
})
</script>
