<p id="notice"><%= notice %></p>
<br>

<div class = 'row' style='margin-top:-8%'>
  <div class='col-xs-2 gray-border'>
  </div>
  <div class='col-xs-8'>
    <%=image_tag('logo-white-back.png',:id=>'market-logo', :class =>'center', :alt =>'c360 logo')%>
    <h3 id='item-banner'>If you are a supplier, go to your Profile Page to start adding to your Inventory.<br><br>
    Otherwise start browsing the market and become part of the next Bulk Order today!</h3>
    <div class='all-items'>
      <br>
      <span hidden id='item_total'><%=@items.count %></span>
      <%@items.each_with_index do|item,i|%>
      <hr>
        <%if item.current_amount > 0%>
        <div class="card">
          <div class ="row " >
              <div class='hidden'>
                <h3 id='item_name_<%=i%>'><%= item.item_name %></h3>
                <span id='bulk_order_amount_<%=i%>' ><%=item.bulk_order_amount%></span>
                <span id='item_price_<%=i%>' ><%=item.price%></span>
              </div>
              <div class="col-md-4">
              <!-- <%=link_to item_path(item) do %> -->
                <span class='oil-image'><%= image_tag(item.image, :size => "250x250") if item.image %></span>
              <!-- <%end%> -->
              </div>
              <div class="col-md-4">
                <div class='row'>
                  <h1 style="margin-bottom:-15px"><%= item.item_name %></h1>
                  <h3>$<%= item.price %>/g --
                    <%=link_to user_path_url(item.user) do%>
                      <%=item.user.company_name%></h3>
                    <%end%>
                </div>
                <div class="row" >
                  <div class='piechart'id='pieChart_<%=i%>'></div>
                </div>
              </div>
              <div class="col-md-4">
                <%if item.bulk_orders.where(completed: false).count >= 1%>
                  <% @bulk = item.bulk_orders.where(completed: false)[0]%>
                  <div hidden>
                    <span id='expire_date_<%=i%>' ><%=@bulk.expire_date%></span>
                  </div>
                  <div class='row'>
                    <div class='col-md-10'>
                      <% if item.user_id == @user.id%>
                        <div class= 'clock' id='clock_<%=i%>'></div>
                        <h4 class="bulk_order_link" ><%= link_to 'View Orders', bulk_order_url(@bulk) %></h4>
                      <%else%>
                        <%if @bulk.users.where(email: @user.email).length > 0%>
                        <div class= 'clock' id='clock_<%=i%>'></div>
                        <span hidden id='user_order_quantity'><%= @bulk.user_orders.where(user_id: @user.id)[0].quantity%></span>
                          <%unless @user.is_vendor?%>
                            <h4 class="bulk_order_link" ><%= link_to 'View Your Order', edit_user_order_url(@bulk.user_orders.where(user_id: @user.id)[0], :item => item.item_name, :price => (item.price)) %></h4>
                          <%end%>
                        <%else%>
                        <div class= 'clock' id='clock_<%=i%>'></div>
                          <%unless @user.is_vendor?%>
                            <h4 class="bulk_order_link" ><%= link_to 'Join Order', edit_bulk_order_url(@bulk, :item => item.item_name, :price => (item.price)) %></h4>
                            <h6>*Details about joining a bulk order</h6>
                          <%end%>
                        <%end%>
                      <%end%>
                      <div hidden>
                        <span id='percent_filled_<%=i%>'><%=@bulk.percent_filled%></span>
                      </div>
                    </div>
                  </div>
              <%else%>
              <div class="row">
                <div class= 'clock' id='clock_<%=i%>'></div>
                <div class='col-md-10'>
                  <% if item.user.id == @user.id%>
                  <h4>No Orders Yet</h4>
                  <%else%>
                    <%unless @user.is_vendor?%>
                      <h4 class="bulk_order_link"><%= link_to 'Start New Order', new_bulk_order_url(:item => item.item_name, :price => (item.price))%></h4>
                      <h6>*Details about joining a bulk order</h6>
                    <%end%>
                  <%end%>
                </div>
              </div>
              <%end%>
            </div>
            </tr>
          </div>
          <br><br>
        </div>
        <%end%>
      <%end%>
    </div>
  </div>
<!-- all items -->
  <div class='col-xs-2 gray-border'>
  </div>
</div>

<script>
var item_total = parseInt($('#item_total').text());
for(i = 0; i<item_total; i++){
  var expire = $('#expire_date_'+i).text();
  var clock = new FlipClock($('#clock_'+i),new Date(expire || 0), {
  countdown: true,
  clockFace: 'DailyCounter',
  showSeconds: false
  });
  var item_name = $('#item_name_'+i).text();
  var percent_filled = $('#percent_filled_'+i).text();
  var max =$('#bulk_order_amount_'+i).text();
  var price = $('#item_price_'+i).text();
  var orders_left = max - percent_filled
  var ratio = (percent_filled ||0)+' / '+ max
  var Apiec3 = c3.generate({
    bindto: '#pieChart_'+i,
    size: {
      height: 150,
      width: 150
    },
    data: {
      columns: [
        ['Filled', percent_filled],
        ['Remaining', orders_left],
      ],
      type : 'donut',
    },
    legend: {
      position: 'right'
    },
    donut: {
      title: ratio,
      label: {
        show:false
      }
    },
    legend: {
      show: false
    }
  });
}
console.log($('.all-items').height())
$('.gray-border').height($('.all-items').height() +100)

</script>
