<p id="notice"><%= notice %></p>
<br>
<div class='container-fluid'>
<h1 id='item_header'>CBD 360</h1>
<h3 id='item_bottom_header'>high quality oil, for an affordable price</h3>
<div id='oil-pic'>
</div>
<div class='row all-pictos text-center'>
  <div class='col-md-4 pictos'>
    <strong><span class='text' style='font-size:2vw'>BUYERS</span></strong><br>
    <image class='photos' src='https://i.imgur.com/m9UCXZj.png'></image><br>
    <span class='text'>Explore the Available Items Below.</span><br>
    <span class='text'>Create a New or Join an exisiting Bulk Order</span><br>
    <span class='text'>Recieve a Confirmation email when Order is Filled</span>
  </div>
  <div class='col-md-4 pictos'>
    <strong><span class='text' style='font-size:2vw'>SUPPLIERS</span></strong><br>
    <image class='photos' src='https://i.imgur.com/mMevcSG.png'></image><br>
    <span class='text'>Go your Profile Page to Create new Items to Sell</span><br>
    <span class='text'>Manage the price, available oil supply, and each Order Size</span><br>
    <span class='text'>Recieve everyone's Payment when the Order is Filled</span><br>

  </div>
  <div class='col-md-4 pictos'>
    <strong><span class='text' style='font-size:2vw'>GROUP ORDERS</span></strong><br>
    <image class='photos'src='https://i.imgur.com/Yms8L1G.png'></image><br>
    <span class='text'>Join in on a Bulk Order with others for each Item</span><br>
    <span class='text'>Order will be shipped when Entire Order is filled</span><br>
    <span class='text'>If Timer expires before, you still recieve partial discount</span><br>
  </div>
</div>
<div class='all-items'>
  <br>
  <span hidden id='item_total'><%=@items.count %></span>
  <%@items.each_with_index do|item,i|%>
    <%if item.current_amount > 0%>
    <div class="card">
      <div class ="row " >
          <div class='hidden'>
            <h3 id='item_name_<%=i%>'><%= item.item_name %></h3>
            <span id='bulk_order_amount_<%=i%>' ><%=item.bulk_order_amount%></span>
            <span id='item_price_<%=i%>' ><%=item.price%></span>
          </div>
          <div class="col-md-3">
          <span class='oil-image'><%= image_tag(item.image, :size => "250x250") if item.image %></span>
          </div>
          <div class="col-md-3">
            <h1><%= item.item_name %> - $<%= item.price %>/g</h1>
            <h3><%=item.current_amount%> grams available</h3>
            <h3>Supplier - <%=item.user.company_name%></h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
          </div>
          <div class="col-md-6">
            <h4 hidden><%= link_to 'Buy Retail: $'+(item.price).to_s, new_user_order_url(:item => item.item_name, :price => item.price)%></h4><br>
            <%if item.bulk_orders.where(completed: false).count >= 1%>
              <% @bulk = item.bulk_orders.where(completed: false)[0]%>
              <div hidden>
                <span id='expire_date_<%=i%>' ><%=@bulk.expire_date%></span>
              </div>
               <div class="row" >
                 <div class='col-md-6'>
                   <div class='piechart'id='pieChart_<%=i%>'></div>
                 </div>
                <div class='col-md-6'>
                  <% if item.user_id == @user.id%>
                  <div class= 'clock' id='clock_<%=i%>'></div>
                  <h4 class="bulk_order_link" ><%= link_to 'View Bulk Orders on Your Item', bulk_order_url(@bulk, :item => item.item_name, :price => (item.price)) %></h4>
                  <%else%>
                    <%if @bulk.users.where(email: @user.email).length > 0%>
                    <div class= 'clock' id='clock_<%=i%>'></div>
                    <h4 class="bulk_order_link" ><%= link_to 'Edit Your Bulk Order: $'+(item.price).to_s+'/g', edit_user_order_url(@bulk.user_orders.where(user_id: @user.id)[0], :item => item.item_name, :price => (item.price)) %></h4>
                    <%else%>
                    <div class= 'clock' id='clock_<%=i%>'></div>
                    <h4 class="bulk_order_link" ><%= link_to 'Join Bulk Order: $'+(item.price).to_s+'/g', edit_bulk_order_url(@bulk, :item => item.item_name, :price => (item.price)) %></h4>
                    <h6>*Details about joining a bulk order</h6>
                    <%end%>
                    <%end%>
                  <div hidden>
                  <span id='percent_filled_<%=i%>'><%=@bulk.percent_filled%></span>
                </div>
                </div>
              </div>
          <%else%>
          <div class="row">
            <div class='col-md-6'>
              <div class='piechart'id='pieChart_<%=i%>'></div>
            </div>
            <div class='col-md-6'>
              <% if item.user.id == @user.id%>
              <h4>No One has joined Order yet</h4>
              <%else%>
              <h4 class="bulk_order_link"><%= link_to 'Create New Bulk Order: $'+(item.price).to_s+'/g', new_bulk_order_url(:item => item.item_name, :price => (item.price))%></h4>
              <h6>*Details about joining a bulk order</h6>
              <%end%>
            </div>
            <div class='col-md-6'>
            </div>
          </div>
          <%end%>
        </div>
        </tr>
      </div>
      <br><br>
    </div>
    <%end%>
  <%end%>


</div>
<!-- all items -->
</div>

<script>
var item_total = parseInt($('#item_total').text());
for(i = 0; i<item_total; i++){
  var expire = $('#expire_date_'+i).text();
  var clock = new FlipClock($('#clock_'+i),new Date(expire || 0), {
  countdown: true,
  clockFace: 'DailyCounter'
  });
  var item_name = $('#item_name_'+i).text();
  var percent_filled = $('#percent_filled_'+i).text();
  var max =$('#bulk_order_amount_'+i).text();
  var price = $('#item_price_'+i).text();
  var orders_left = max - percent_filled
  var ratio = (percent_filled ||0)+' / '+ max + ' spots taken'
  var Apiec3 = c3.generate({
    bindto: '#pieChart_'+i,
    data: {
      columns: [
        ['Filled', percent_filled],
        ['Remaining', orders_left],
      ],
      type : 'donut',
    },
    legend: {
      position: 'right'
    },
    donut: {
      title: ratio,
      label: {
        show:true
      }
    },
    legend: {
      show: false
    }
  });
}
// var price = $('#item_price_0').text();
// var percent_filled = $('#percent_filled_0').text();
// var max =$('#bulk_order_amount_0').text();
// d3.select(".c3-chart-arcs-title")
//     .append("tspan")
//     .attr("dy", 16)
//     .attr("x", 0)
//     .text((percent_filled||0)+'/'+max +' spots filled');
// d3.select(".c3-chart-arcs-title")
//     .append("tspan")
//     .attr("dy", 16)
//     .attr("x", 0)
//     .text("$"+price +"/g");

// var item_name_second = $('#item_name_1').text();
// var percent_filled_second = $('#percent_filled_1').text();
// var max_second =$('#bulk_order_amount_1').text();
// var price_first = $('#item_price_1').text();
// var orders_left_second = max_second - percent_filled_second
// var Apiec3 = c3.generate({
//   bindto: '#pieChart_1',
//     data: {
//         columns: [
//             ['Filled', percent_filled_second],
//             ['Remaining', orders_left_second],
//         ],
//         type : 'donut',
//     },
//     legend: {
//     position: 'right'
//     },
//     donut: {
//         title: item_name_second,
//         label: {
//           show:true
//         }
//     },
//     legend: {
//       show: false
//     }
// });
// d3.select(".c3-chart-arcs-title")
//     .append("tspan")
//     .attr("dy", 16)
//     .attr("x", 0)
//     .text((percent_filled_second||0)+'/'+max_second +' spots filled');
// d3.select(".c3-chart-arcs-title")
//     .append("tspan")
//     .attr("dy", 16)
//     .attr("x", 0)
//     .text("$"+price_second +"/g");

// var ratio_third = $('#ratio_third').first().text();
// var item_name_third = $('#item_name_third').first().text();
// var filled_third = parseInt(ratio_third.split(' ')[0]);
// var max_third =parseInt(ratio_third.split(' ')[2]);
// var price_third_string = $('#price_third').text();
// var price_third = price_third_string.match(/\d+/)[0]
// var orders_left_third = max_third-filled_third
// var contentArray_third = []
// var Apiec3 = c3.generate({
//   bindto: '#pieChart_third',
//     data: {
//         columns: [
//             ['Filled', filled_third],
//             ['Remaining', orders_left_third || 100],
//         ],
//         type : 'donut',
//     },
//     legend: {
//     position: 'right'
//     },
//     donut: {
//         title: item_name_third,
//         label: {
//           show:true
//         }
//     },
//     legend: {
//       show: false
//     }
// });
// // d3.select(".c3-chart-arcs-title")
// //     .append("tspan")
// //     .attr("dy", 16)
// //     .attr("x", 0)
// //     .text(ratio_third);
// // d3.select(".c3-chart-arcs-title")
// //     .append("tspan")
// //     .attr("dy", 16)
// //     .attr("x", 0)
// //     .text("$"+price_third +"/g");
//

</script>
