<div class='edit-order'>
  <div class='row edit-row'>
    <div class='col-sm-6'>
      <div class='edit-card'>
        <span style='float:right' class='oil-image'><%= image_tag(@item.avatar.url, :size => "220x220") %></span>
        <h1>  <%= @item.item_name %></h1>
        <%if @item.rating > 0%>
          <h4><%(@item.rating / @item.rating_count).round.times do%>
          <i class="glyphicon glyphicon-star"></i>
          <%end%>
          <%(5-((@item.rating / @item.rating_count).round)).times do%>
          <i class="glyphicon glyphicon-star-empty"></i>
          <%end%>
          <%else%>
          <h4 style='margin:1vw 0vw 2vw 0vw'>*No reviews yet*</h4>
        <%end%>
        <h4><i><%= @item.description %></i></h4>
        <br>
        <h4><%=link_to user_supplier_path_url(@item.user) do%>
          <%= image_tag(@item.user.avatar.url, :size => "50x50") %>
          <span class='plain-link'><%=@item.user.company_name%></span>
          <%end%></h4>
      </div>
      <h2 class='text-center'>Customer Reviews</h2>
      <%if @completed_user_bulk_orders && @existing_bulk_order_reviews < @completed_user_bulk_orders.count%>
        <div class=' row'>
          <h3 class='text-left'>Leave a Review</h3>
          <form style='margin:1vw'>
            <fieldset class="rating-starz">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" ></label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" ></label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" ></label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" ></label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" ></label>
          </fieldset><br><br>
            <label for='title'>Title:</label>
            <input style='margin:1vw' id='title' type="text" maxlength="100" size="30" value=""><br>
            <label for='body'>Body:</label>
            <input style='margin:1vw' id='body' maxlength="200" size="60"type="text" value="">
          </form>
          <button style='margin: 0vw 0vw 1vw 1vw' class='btn-primary'id="submitReview">Submit</button><br>
        </div>
      <%end%>
      <%@reviews.each do |review|%>
        <%=link_to user_path_url(review.user) do%>
          <h5><%= image_tag(review.user.avatar.url, :class => "not_nav_prof_pic",) %>
        <%end%>
        <%=review.user.email%></h5>
        <h4><%review.rating.times do%>
          <i class="glyphicon glyphicon-star"></i>
        <%end%>
        <%(5-review.rating).times do%>
          <i class="glyphicon glyphicon-star-empty"></i>
        <%end%>
        <%=review.title%></h4>
        <h5><%=review.body%></h5>
        <hr>
      <%end%>
    </div>
    <div class='col-sm-6'>
      <h3 class='text-center'>Open Batches for <%=@item.item_name%></h3>
      <%@open_orders.each_with_index do |order,i|%>
      <div class='row'>
        <div class='col-sm-6'>
          <br>
          <div class= 'clock' id='clock_<%=i%>'></div>
          <div class='piechart'id='pieChart_<%=i%>'>
          </div>
        </div>
        <div class='col-sm-6'>
          <h4>Wholesale Price: <%=order.wholesale_price%>$ / gram</h4>
          <h4>BuyNow Price: <%=order.market_price%>$ / gram</h4>
          <%if @current_user && !@current_user.is_vendor %>
            <%if order.users.where(email: @current_user.email).length > 0%>
              <h4 class="bulk_order_link"><%= link_to 'Edit Your Order', edit_user_order_url(order.user_orders.where(user_id: @current_user.id)[0]) %></h4>
              <h4 class="bulk_order_link" ><i class="glyphicon glyphicon-flash "></i>
                <%= link_to 'Buy Now', new_user_order_url(:bulk_order => order.id)%><h4>
            <%else%>
              <h4 class="bulk_order_link" ><%= link_to 'Join Order', edit_bulk_order_url(order, :item => order.item.id) %></h4>
              <h4 class="bulk_order_link" ><i class="glyphicon glyphicon-flash "></i>
                <%= link_to 'Buy Now', new_user_order_url(:bulk_order => order.id)%><h4>
            <%end%>
          <%end%>
        </div>
      </div>
      <hr>
      <span hidden id='expire_date_<%=i%>' ><%=order.expire_date%></span>
      <span hidden id='percent_filled_<%=i%>'><%=order.percent_filled%></span>
      <span hidden id='bulk_order_amount_<%=i%>' ><%=order.max_amount%></span>
      <span hidden id='item_name_<%=i%>' ><%=order.item_name%></span>
      <%end%>
    </div>
  </div>
</div>


<span hidden id='order_total'><%=@open_orders.count %></span>
<span hidden id='item'><%=@item.id %></span>
<span hidden id='existing_bulk_order'><%=@existing_bulk_order %></span>
<span hidden id='existing_user_order'><%=@existing_user_order %></span>

<script>

var bulk = $('#existing_bulk_order').text()
var user_order = $('#existing_user_order').text()
var item = $('#item').text()

$('#submitReview').on('click',function(e){
  var rating = null
  for(var i=1; i<=5;i++){
      if($('#star'+i).is(':checked')){
        rating = i
      }
  }
  var title = $('#title').val()
  var body = $('#body').val()
  e.preventDefault();
  $.ajax({
    type: "POST",
    url: '/reviews',
    data: { "rating": rating,"title": title,"body": body,"bulk": bulk,"user_order":user_order,"item": item},
    success: function (data) {
    },
    error:function(error){
      console.log(error)
    }
  });
})


var order_total = parseInt($('#order_total').text());
for(i = 0; i<order_total; i++){
  var expire = $('#expire_date_'+i).text();
  var clock = new FlipClock($('#clock_'+i),new Date(expire || 0), {
  countdown: true,
  clockFace: 'DailyCounter',
  showSeconds: false
  });
  var item_name = $('#item_name_'+i).text();
  var percent_filled = $('#percent_filled_'+i).text();
  var max =$('#bulk_order_amount_'+i).text();
  var orders_left = max - percent_filled
  var ratio = (percent_filled ||0)+'/'+ max +' g'
  var Apiec3 = c3.generate({
    bindto: '#pieChart_'+i,
    size: {
      height: 150,
      width: 150
    },
    data: {
      columns: [
        ['Filled', percent_filled],
        ['Remaining', orders_left],
      ],
      type : 'donut',
    },
    legend: {
      position: 'right'
    },
    donut: {
      title: ratio,
      label: {
        show:false
      }
    },
    legend: {
      show: false
    }
  });
}

</script>
