<% pdf ||= false %>
<% if pdf %>
  <%= wicked_pdf_stylesheet_link_tag "bootstrap" %>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
<% end %>

<div class='container' style='margin:10vw'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Check out the Bid!</h2>
      <h4>Title: <%=@bid.title%><h4>
      <h4>Amount: <%=@bid.amount%> grams<h4>
      <h4>Price max:$<%=@bid.price_max%><h4>
      <h4>Buyer: <%=@bid.buyer.email%><h4>
    </div>
    <div class='col-md-6'>
      <h2>Your Offer on the Bid</h2>
      <h4>Price: $<%=@bid_offer.price%><h4>
      <h4>Delivery Date: <%=@bid_offer.delivery_date%><h4>
      <h4>Notes: <%=@bid_offer.notes%><h4>
    </div>
  </div>
  <%= link_to 'Create PDF document', bid_offer_path(@bid_offer, :format => :pdf) %>
</div>
