<!DOCTYPE html>
<html>
  <head>
    <title>C360</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:100,300,400" rel="stylesheet">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  </head>

  <body>
    <div class='wrapper'>
    <%= render 'partials/navbar' %>
    <br>
    <%= yield %>
    <%= render 'partials/footer' %>
  </div>
  </body>
</html>
